<FlowbiteComponent Script="popover"
                   ScriptParameters="@(new[]
                                     {
                                         Id,
                                         Placement.GetValueAttribute(),
                                         Trigger.GetValueAttribute(),
                                     })"
                   class="flex">
    @ActivatorContent
</FlowbiteComponent>

<div id="@Id"
     class="fixed! z-10 invisible opacity-0 transition-opacity duration-300 border border-solid border-stone-800 bg-black grow overflow-y-auto overflow-x-hidden p-2 rounded-lg shadow-lg @Class">
    @ChildContent
</div>

@using Sidekick.Common.Enums

@code {

    [Parameter]
    public required RenderFragment ChildContent { get; set; }

    [Parameter]
    public required RenderFragment ActivatorContent { get; set; }

    [Parameter]
    public TooltipPlacement Placement { get; set; } = TooltipPlacement.Top;

    [Parameter]
    public PopoverTrigger Trigger { get; set; } = PopoverTrigger.Click;

    [Parameter]
    public string Class { get; set; } = "max-h-[550px] max-w-[350px]";

    private string Id { get; } = UiUtilities.GenerateId();

}
