<div class="text-xl text-neutral-400 mt-4 mb-2 px-4">@Legend</div>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? Legend { get; set; }

}
