@using Sidekick.Apis.Poe.Account.Authentication
@using Sidekick.Common.Settings
@using Sidekick.Modules.Wealth.Localization

@if (CurrentState == AuthenticationState.Authenticated)
{
    <ButtonCustom Class="bg-green-950 hover:enabled:bg-green-900"
                  OnClick="() => AuthenticationService.Authenticate(true)">
        <div class="bg-green-400 rounded-full w-2 h-2"></div>
        <div class="text-green-400">@Resources["Authenticated"] (@TokenRemainingString)</div>
    </ButtonCustom>
}
else if (CurrentState == AuthenticationState.InProgress)
{
    <ButtonCustom Class="bg-blue-950 hover:enabled:bg-blue-900"
                  OnClick="() => AuthenticationService.Authenticate(true)">
        <div class="bg-blue-400 rounded-full w-2 h-2"></div>
        <div class="text-blue-400">@Resources["Authenticating"]</div>
    </ButtonCustom>
}
else if (CurrentState == AuthenticationState.Unauthenticated)
{
    <ButtonCustom Class="border border-red-500 bg-red-950 hover:enabled:bg-red-900"
                  OnClick="() => AuthenticationService.Authenticate(true)">
        <div class="bg-red-400 rounded-full w-2 h-2"></div>
        <div class="text-red-400">@Resources["Unauthenticated"]</div>
    </ButtonCustom>
}

@implements IDisposable
@inject IStringLocalizer<WealthResources> Resources
@inject IAuthenticationService AuthenticationService
@inject ISettingsService SettingsService

@code {
    private Timer? refreshTimer;

    private AuthenticationState CurrentState { get; set; }

    private string? TokenRemainingString { get; set; }

    protected override void OnInitialized()
    {
        AuthenticationService.OnStateChanged += OnChanged;

        refreshTimer = new Timer(_ => { OnChanged(); }, null, TimeSpan.Zero, TimeSpan.FromMinutes(1));

        OnChanged();
        base.OnInitialized();
    }

    private void OnChanged()
    {
        InvokeAsync(async () =>
        {
            CurrentState = await AuthenticationService.GetCurrentState();

            var bearerExpiration = await SettingsService.GetDateTime(SettingKeys.BearerExpiration);
            if (bearerExpiration == null)
            {
                TokenRemainingString = "";
            }
            else
            {
                var remainingTime = bearerExpiration - DateTimeOffset.Now;
                TokenRemainingString = $"{remainingTime.Value.Hours:00}:{remainingTime.Value.Minutes:00}";
            }

            StateHasChanged();
        });
    }

    public void Dispose()
    {
        refreshTimer?.Dispose();
        AuthenticationService.OnStateChanged -= OnChanged;
    }

}
