@using Sidekick.Apis.Poe.Trade.Parser.Properties.Filters
@if (!Filter.ShowRow)
{
    return;
}

<FilterWrapper>
    <div class="flex flex-nowrap items-center">
        <div class="grow">
            <FormCheckbox @bind-Value="Filter.Checked">
                <div class="flex items-center gap-1">
                    <ItemPropertyText Label="@Filter.Text"
                                      Hint="@Filter.Hint"
                                      Value="@Filter.Value"
                                      ContentType="@Filter.Type"/>
                </div>
            </FormCheckbox>
        </div>
    </div>
</FilterWrapper>

@code {

    [Parameter]
    public required StringPropertyFilter Filter { get; set; }

}
