
<div class="d-flex justify-center align-center">
    <img src="/images/orbs/ExaltedOrb.png" class="mr-4" />
    <MudText Typo="Typo.h1"
             Align="Align.Center"
             Class="font-smallcaps">Sidekick</MudText>
</div>
