@using Sidekick.Common.Blazor.Errors;

<SidekickErrorBoundary>
    <ChildContent>
        <CascadingValue Value="this" IsFixed="true">
            <CascadingValue Value="View">
                <div class="sidekick-wrapper @(HasAppbar ? "has-appbar" : "")">
                    <MudLayout>
                        @ChildContent
                    </MudLayout>
                </div>
            </CascadingValue>
        </CascadingValue>
    </ChildContent>
    <ErrorContent>
        <div class="blazor-error">
            <div class="content">
                <div>
                    @if (!string.IsNullOrEmpty(context.Message))
                    {
                        @context.Message
                        @if (!string.IsNullOrEmpty(context.AdditionalInformation))
                        {
                            <div class="mt-3">
                                Additional Information: <b>@context.AdditionalInformation</b>
                            </div>
                        }
                    }
                    else
                    {
                        @:An error has occurred. This application may no longer respond until reloaded.<br/> If this issue keeps reoccurring, please open a ticket on our github page.
                    }
                </div>

                <div class="d-flex align-center justify-center">
                    <a href="javascript:" class="reload" @onclick="Reload">Reload</a>
                    @if (View != null)
                    {
                        <a href="javascript:" class="button" @onclick="Close">Close</a>
                    }
                </div>
            </div>
        </div>
    </ErrorContent>
</SidekickErrorBoundary>

@inject NavigationManager NavigationManager;
@code {
    /// <summary>
    /// Gets or sets the content of the wrapper.
    /// </summary>
    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

    /// <summary>
    /// Gets or sets a value indicating whether the view has an app bar or not.
    /// </summary>
    [Parameter]
    public bool HasAppbar { get; set; } = true;

    /// <summary>
    /// Gets or sets the current view.
    /// </summary>
    public SidekickView? View { get; set; }

    public void SetView(SidekickView view)
    {
        View = view;
        StateHasChanged();
    }

    private void Reload()
    {
        NavigationManager.NavigateTo(NavigationManager.Uri, true);
    }

    private async Task Close()
    {
        if (View != null)
        {
            await View.Close();
        }
    }
}
