
<div class="application-nav-bar">
    <MudAppBar Fixed="false" Elevation="0">
        @LeftContent
        <div class="icon"><img src="/images/orbs/ExaltedOrb.png" /></div>
        <MudSpacer />
        @RightContent
    </MudAppBar>
</div>

@code {
    [Inject] private IViewInstance ViewInstance { get; set; }

    [Parameter] public RenderFragment LeftContent { get; set; }
    [Parameter] public RenderFragment RightContent { get; set; }
}
