<div class="application-nav-bar">
    <MudAppBar Fixed="false" Elevation="0" Class="pl-4">
        @LeftContent
        <div class="icon"><img src="/images/orbs/ExaltedOrb.png" /></div>
        <MudText Typo="Typo.h4">
            <span id="sidekick-appbar-title">@View?.Title</span>
        </MudText>
        <MudSpacer />

        @if (View != null)
        {
            if (View.ViewType == SidekickViewType.Standard)
            {
                <MudIconButton Color="Color.Inherit"
                       Variant="Variant.Text"
                       Icon="@Icons.Material.Filled.Minimize"
                       @onclick="() => ViewLocator.Minimize(View)" />

                <MudIconButton Color="Color.Inherit"
                       Variant="Variant.Text"
                       Icon="@Icons.Material.Filled.CropSquare"
                       @onclick="() => ViewLocator.Maximize(View)" />
            }

            <MudIconButton Class="close-button" Color="Color.Inherit" Variant="Variant.Text" Icon="@Icons.Material.Filled.Close" @onclick="View.Close" Edge="Edge.End" />
        }
    </MudAppBar>
</div>

@code {
    [Inject]
    private IViewLocator ViewLocator { get; set; }

    [CascadingParameter]
    public SidekickView View { get; set; }

    [Parameter]
    public RenderFragment LeftContent { get; set; }
}
