
<CascadingValue Value="this" IsFixed="true">
    <CascadingValue Value="View">
        <div class="sidekick-wrapper">
            <MudLayout>
                @ChildContent
            </MudLayout>
        </div>
    </CascadingValue>
</CascadingValue>

@code {
    /// <summary>
    /// Gets or sets the content of the wrapper.
    /// </summary>
    [Parameter] public RenderFragment ChildContent { get; set; }

    /// <summary>
    /// Gets or sets the current view.
    /// </summary>
    private SidekickView View { get; set; }

    public void SetView(SidekickView view)
    {
        View = view;
        StateHasChanged();
    }
}
