
<div class="d-flex justify-center @Class">
    <MudAlert Severity="Severity.Info" Variant="Variant.Outlined">
        <div class="d-flex align-center">
            <div class="mr-3">
                @Text
            </div>
            <MudProgressCircular Indeterminate="true" Color="Color.Info" Size="Size.Small" />
        </div>
    </MudAlert>
</div>

@code {
    [Parameter]
    public string Text { get; set; } = "Loading";

    [Parameter]
    public string Class { get; set; }
}
