@using MudBlazor
@using Sidekick.Common.Game.Items
@using Sidekick.Common.Settings
@if (QueryId != null)
{
    <div class="d-flex flex-row align-center justify-space-between mb-2">
        <div>
            <MudText Color="Color.Info">@LeagueId</MudText>
            <CountString Count="Count" Total="Total" />
        </div>
        <div>
            <MudButtonGroup Size="@Size.Small">
                <OpenWebsiteLink QueryId="@QueryId" Mode="TradeMode.Bulk" />
            </MudButtonGroup>
        </div>
    </div>
}

@inject ISettingsService SettingsService

@code {
    [CascadingParameter]
    public required Item Item { get; set; }

    [Parameter]
    public string? QueryId { get; set; }

    [Parameter]
    public int Count { get; set; }

    [Parameter]
    public int Total { get; set; }

    private string? LeagueId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        LeagueId = await SettingsService.GetString(SettingKeys.LeagueId);
        await base.OnInitializedAsync();
    }

}
