@using Sidekick.Modules.Item.Components.Prices
@using Sidekick.Modules.Item.Valuation.Localization

<div class="mb-2">
    <Heading2>
        <div class="flex flex-nowrap items-center gap-3">
            <img alt="PoePrices" src="/images/external-tools/poeprices-logo.png" class="size-6"/>
            <span>PoePrices.info</span>
            <Tooltip Text="@Resources["Prediction_Description"]"/>
        </div>
    </Heading2>
</div>

<div class="mb-2 bg-stone-950 rounded-lg px-2 py-1">
    <div class="flex flex-wrap">
        <div class="flex w-1/2 justify-center">
            <PriceRangeDisplay Min="Min" Max="Max" Currency="@Currency"/>
        </div>
        <div class="text-right w-1/2">
            <TextBase
                Class="@ConfidenceColorClass">@Resources["Prediction_Confidence", $"{Confidence:0.#}%"]</TextBase>
        </div>
    </div>
</div>

@inject IStringLocalizer<ValuationResources> Resources

@code {

    [Parameter]
    public double Min { get; set; }

    [Parameter]
    public double Max { get; set; }

    [Parameter]
    public double Confidence { get; set; }

    [Parameter]
    public string? Currency { get; set; }

    private string ConfidenceColorClass => Confidence switch
    {
        (< 33) => "text-red-500",
        (< 66) => "text-yellow-500",
        _ => "text-green-500"
    };

}
