@page "/update"
@inherits SidekickView

<AppScrollArea>
    <TopContent>
        <AppLogo/>
    </TopContent>

    <ChildContent>
        @if (Error)
        {
            <AlertError>@Resources["The update has failed to install automatically. You should try to download and install the update manually from https://sidekick-poe.github.io/"]</AlertError>
        }
        else
        {
            <AppContainer>
                <Heading3 Class="mb-2 text-center">@Step</Heading3>
                <ProgressBar Indeterminate="true"/>
            </AppContainer>
        }

        <div class="flex justify-center mb-3">
            <ButtonPrimary OnClick="CurrentView.Close">
                @Resources["Close"]
            </ButtonPrimary>
        </div>
    </ChildContent>
</AppScrollArea>
