@page "/update"
@inherits SidekickView

<AppLogo />

@if (Error)
{
    <MudAlert Severity="Severity.Error" Variant="Variant.Filled" Class="my-1">@Resources["The update has failed to install automatically. You should try to download and install the update manually from https://sidekick-poe.github.io/"]</MudAlert>
}
else
{
    <MudCard Class="my-1">
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h5" Align="Align.Center">@Step</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudProgressLinear Color="Color.Primary"
                           Indeterminate="true" />
        </MudCardContent>
    </MudCard>
}

<div class="d-flex justify-end">
    <MudButton OnClick="CurrentView.Close"
               Variant="Variant.Text"
               Color="Color.Default">
        @Resources["Close"]
    </MudButton>
</div>
