@page "/update"
@layout ModalLayout
@inherits SidekickView

<SidekickLogo />

@if (Error)
{
    <MudAlert Severity="Severity.Error" Variant="Variant.Filled" Class="my-1">@UpdateResources.Failed</MudAlert>
}
else
{
    <MudCard Class="my-1">
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h5" Align="Align.Center">@Step</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudProgressLinear Color="Color.Primary"
                           Indeterminate="true" />
        </MudCardContent>
    </MudCard>
}

<div class="d-flex justify-end">
    <MudButton OnClick="Close"
               Variant="Variant.Text"
               Color="Color.Default">
        @UpdateResources.Close
    </MudButton>
</div>
