@using System.Diagnostics
@using Sidekick.Apis.GitHub;
@using Sidekick.Apis.GitHub.Models;
@using Sidekick.Common.Browser;
@using Sidekick.Common;

@if (Release is
     {
         IsNewerVersion: true
     })
{
    <AlertInfo>
        <div class="flex items-center gap-2">
            <TextBase>@Resources["New_Update_Alert"]</TextBase>
            <TextCaption>
                @if (Release is
                     {
                         IsExecutable: true
                     } && false)
                {
                    <ButtonLink OnClick="Download">@Resources["Download_And_Install"]</ButtonLink>
                }

                <ButtonLink OnClick="OpenWebsite">@Resources["Open_Website"]</ButtonLink>
            </TextCaption>
        </div>
    </AlertInfo>
}

@inject IGitHubClient GitHubClient
@inject IViewLocator ViewLocator
@inject ISidekickDialogs DialogService
@inject IBrowserProvider Browser
@inject IStringLocalizer<Update> Resources

@code {

    private GitHubRelease? Release { get; set; }

    /// <inheritdoc/>
    protected override async Task OnInitializedAsync()
    {
        Release = await GitHubClient.GetLatestRelease();

        if (Debugger.IsAttached)
        {
            Release = new GitHubRelease()
            {
                IsNewerVersion = true,
                IsExecutable = true,
            };
        }

        await base.OnInitializedAsync();
    }

    private async Task Download()
    {
        if (!await DialogService.OpenConfirmationModal(Resources["Confirm_Update"]))
        {
            return;
        }

        await ViewLocator.Open("/update");
    }

    private void OpenWebsite()
    {
        Browser.OpenSidekickWebsite();
    }

}
