root = true

[*]
charset = utf-8
indent_style = space

# Microsoft .NET properties
csharp_indent_switch_labels = true
csharp_new_line_before_catch = true
csharp_new_line_before_else = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_open_brace = all
csharp_new_line_between_query_expression_clauses = true
csharp_preferred_modifier_order = public, private, protected, internal, file, required, override, static, virtual, sealed, async, abstract, extern, unsafe, volatile, readonly, new:suggestion
csharp_prefer_braces = true:none
csharp_preserve_single_line_blocks = true
csharp_space_after_cast = false
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_after_comma = true
csharp_space_after_dot = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_after_semicolon_in_for_statement = true
csharp_space_around_binary_operators = before_and_after
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_before_comma = false
csharp_space_before_dot = false
csharp_space_before_open_square_brackets = false
csharp_space_before_semicolon_in_for_statement = false
csharp_space_between_empty_square_brackets = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_declaration_name_and_open_parenthesis = false
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_parentheses = false
csharp_space_between_square_brackets = false
csharp_style_expression_bodied_accessors = true:none
csharp_style_expression_bodied_constructors = false:none
csharp_style_expression_bodied_methods = false:none
csharp_style_expression_bodied_properties = true:none
csharp_style_namespace_declarations = file_scoped:error
csharp_style_prefer_utf8_string_literals = true:suggestion
csharp_style_var_elsewhere = true:suggestion
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_using_directive_placement = outside_namespace:silent
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary:none
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:none
dotnet_style_parentheses_in_relational_binary_operators = never_if_unnecessary:none

dotnet_diagnostic.bc40000.severity = warning
dotnet_diagnostic.bc400005.severity = warning
dotnet_diagnostic.bc40008.severity = warning
dotnet_diagnostic.bc40056.severity = warning
dotnet_diagnostic.bc42016.severity = warning
dotnet_diagnostic.bc42024.severity = warning
dotnet_diagnostic.bc42025.severity = warning
dotnet_diagnostic.bc42104.severity = warning
dotnet_diagnostic.bc42105.severity = warning
dotnet_diagnostic.bc42106.severity = warning
dotnet_diagnostic.bc42107.severity = warning
dotnet_diagnostic.bc42304.severity = warning
dotnet_diagnostic.bc42309.severity = warning
dotnet_diagnostic.bc42322.severity = warning
dotnet_diagnostic.bc42349.severity = warning
dotnet_diagnostic.bc42353.severity = warning
dotnet_diagnostic.bc42354.severity = warning
dotnet_diagnostic.bc42355.severity = warning
dotnet_diagnostic.bc42356.severity = warning
dotnet_diagnostic.bc42358.severity = warning
dotnet_diagnostic.bc42504.severity = warning
dotnet_diagnostic.bc42505.severity = warning
dotnet_diagnostic.ca1822.severity = error
dotnet_diagnostic.ca1851.severity = warning
dotnet_diagnostic.ca2000.severity = error
dotnet_diagnostic.ca2252.severity = error
dotnet_diagnostic.cs0067.severity = warning
dotnet_diagnostic.cs0078.severity = warning
dotnet_diagnostic.cs0108.severity = warning
dotnet_diagnostic.cs0109.severity = warning
dotnet_diagnostic.cs0114.severity = warning
dotnet_diagnostic.cs0162.severity = warning
dotnet_diagnostic.cs0164.severity = warning
dotnet_diagnostic.cs0168.severity = warning
dotnet_diagnostic.cs0169.severity = warning
dotnet_diagnostic.cs0183.severity = warning
dotnet_diagnostic.cs0184.severity = warning
dotnet_diagnostic.cs0197.severity = warning
dotnet_diagnostic.cs0219.severity = warning
dotnet_diagnostic.cs0252.severity = warning
dotnet_diagnostic.cs0253.severity = warning
dotnet_diagnostic.cs0282.severity = warning
dotnet_diagnostic.cs0414.severity = warning
dotnet_diagnostic.cs0420.severity = warning
dotnet_diagnostic.cs0458.severity = warning
dotnet_diagnostic.cs0464.severity = warning
dotnet_diagnostic.cs0465.severity = warning
dotnet_diagnostic.cs0469.severity = warning
dotnet_diagnostic.cs0472.severity = warning
dotnet_diagnostic.cs0612.severity = warning
dotnet_diagnostic.cs0618.severity = warning
dotnet_diagnostic.cs0628.severity = warning
dotnet_diagnostic.cs0642.severity = warning
dotnet_diagnostic.cs0649.severity = warning
dotnet_diagnostic.cs0652.severity = warning
dotnet_diagnostic.cs0657.severity = warning
dotnet_diagnostic.cs0658.severity = warning
dotnet_diagnostic.cs0659.severity = warning
dotnet_diagnostic.cs0660.severity = warning
dotnet_diagnostic.cs0661.severity = warning
dotnet_diagnostic.cs0665.severity = warning
dotnet_diagnostic.cs0672.severity = warning
dotnet_diagnostic.cs0675.severity = warning
dotnet_diagnostic.cs0693.severity = warning
dotnet_diagnostic.cs0728.severity = warning
dotnet_diagnostic.cs1030.severity = warning
dotnet_diagnostic.cs1058.severity = warning
dotnet_diagnostic.cs1066.severity = warning
dotnet_diagnostic.cs1522.severity = warning
dotnet_diagnostic.cs1570.severity = warning
dotnet_diagnostic.cs1571.severity = warning
dotnet_diagnostic.cs1572.severity = warning
dotnet_diagnostic.cs1573.severity = warning
dotnet_diagnostic.cs1574.severity = warning
dotnet_diagnostic.cs1580.severity = warning
dotnet_diagnostic.cs1581.severity = warning
dotnet_diagnostic.cs1584.severity = warning
dotnet_diagnostic.cs1587.severity = warning
dotnet_diagnostic.cs1589.severity = warning
dotnet_diagnostic.cs1590.severity = warning
dotnet_diagnostic.cs1591.severity = warning
dotnet_diagnostic.cs1592.severity = warning
dotnet_diagnostic.cs1710.severity = warning
dotnet_diagnostic.cs1711.severity = warning
dotnet_diagnostic.cs1712.severity = warning
dotnet_diagnostic.cs1717.severity = warning
dotnet_diagnostic.cs1723.severity = warning
dotnet_diagnostic.cs1911.severity = warning
dotnet_diagnostic.cs1957.severity = warning
dotnet_diagnostic.cs1981.severity = warning
dotnet_diagnostic.cs1998.severity = warning
dotnet_diagnostic.cs4014.severity = warning
dotnet_diagnostic.cs7022.severity = warning
dotnet_diagnostic.cs7023.severity = warning
dotnet_diagnostic.cs7095.severity = warning
dotnet_diagnostic.cs8073.severity = warning
dotnet_diagnostic.cs8094.severity = warning
dotnet_diagnostic.cs8123.severity = warning
dotnet_diagnostic.cs8321.severity = warning
dotnet_diagnostic.cs8383.severity = warning
dotnet_diagnostic.cs8424.severity = warning
dotnet_diagnostic.cs8425.severity = warning
dotnet_diagnostic.cs8500.severity = warning
dotnet_diagnostic.cs8509.severity = warning
dotnet_diagnostic.cs8519.severity = warning
dotnet_diagnostic.cs8520.severity = warning
dotnet_diagnostic.cs8524.severity = warning
dotnet_diagnostic.cs8597.severity = warning
dotnet_diagnostic.cs8600.severity = warning
dotnet_diagnostic.cs8601.severity = warning
dotnet_diagnostic.cs8602.severity = warning
dotnet_diagnostic.cs8603.severity = warning
dotnet_diagnostic.cs8604.severity = warning
dotnet_diagnostic.cs8605.severity = warning
dotnet_diagnostic.cs8607.severity = warning
dotnet_diagnostic.cs8608.severity = warning
dotnet_diagnostic.cs8609.severity = warning
dotnet_diagnostic.cs8610.severity = warning
dotnet_diagnostic.cs8611.severity = warning
dotnet_diagnostic.cs8612.severity = warning
dotnet_diagnostic.cs8613.severity = warning
dotnet_diagnostic.cs8614.severity = warning
dotnet_diagnostic.cs8615.severity = warning
dotnet_diagnostic.cs8616.severity = warning
dotnet_diagnostic.cs8617.severity = warning
dotnet_diagnostic.cs8618.severity = warning
dotnet_diagnostic.cs8619.severity = warning
dotnet_diagnostic.cs8620.severity = warning
dotnet_diagnostic.cs8621.severity = warning
dotnet_diagnostic.cs8622.severity = warning
dotnet_diagnostic.cs8624.severity = warning
dotnet_diagnostic.cs8625.severity = warning
dotnet_diagnostic.cs8629.severity = warning
dotnet_diagnostic.cs8631.severity = warning
dotnet_diagnostic.cs8632.severity = warning
dotnet_diagnostic.cs8633.severity = warning
dotnet_diagnostic.cs8634.severity = warning
dotnet_diagnostic.cs8643.severity = warning
dotnet_diagnostic.cs8644.severity = warning
dotnet_diagnostic.cs8645.severity = warning
dotnet_diagnostic.cs8655.severity = warning
dotnet_diagnostic.cs8656.severity = warning
dotnet_diagnostic.cs8667.severity = warning
dotnet_diagnostic.cs8669.severity = warning
dotnet_diagnostic.cs8670.severity = warning
dotnet_diagnostic.cs8714.severity = warning
dotnet_diagnostic.cs8762.severity = warning
dotnet_diagnostic.cs8763.severity = warning
dotnet_diagnostic.cs8764.severity = warning
dotnet_diagnostic.cs8765.severity = warning
dotnet_diagnostic.cs8766.severity = warning
dotnet_diagnostic.cs8767.severity = warning
dotnet_diagnostic.cs8768.severity = warning
dotnet_diagnostic.cs8769.severity = warning
dotnet_diagnostic.cs8770.severity = warning
dotnet_diagnostic.cs8774.severity = warning
dotnet_diagnostic.cs8775.severity = warning
dotnet_diagnostic.cs8776.severity = warning
dotnet_diagnostic.cs8777.severity = warning
dotnet_diagnostic.cs8794.severity = warning
dotnet_diagnostic.cs8819.severity = warning
dotnet_diagnostic.cs8824.severity = warning
dotnet_diagnostic.cs8825.severity = warning
dotnet_diagnostic.cs8846.severity = warning
dotnet_diagnostic.cs8847.severity = warning
dotnet_diagnostic.cs8851.severity = warning
dotnet_diagnostic.cs8860.severity = warning
dotnet_diagnostic.cs8892.severity = warning
dotnet_diagnostic.cs8907.severity = warning
dotnet_diagnostic.cs8947.severity = warning
dotnet_diagnostic.cs8960.severity = warning
dotnet_diagnostic.cs8961.severity = warning
dotnet_diagnostic.cs8962.severity = warning
dotnet_diagnostic.cs8963.severity = warning
dotnet_diagnostic.cs8965.severity = warning
dotnet_diagnostic.cs8966.severity = warning
dotnet_diagnostic.cs8971.severity = warning
dotnet_diagnostic.cs8974.severity = warning
dotnet_diagnostic.cs8981.severity = warning
dotnet_diagnostic.cs9042.severity = warning
dotnet_diagnostic.cs9073.severity = warning
dotnet_diagnostic.cs9074.severity = warning
dotnet_diagnostic.cs9080.severity = warning
dotnet_diagnostic.cs9081.severity = warning
dotnet_diagnostic.cs9082.severity = warning
dotnet_diagnostic.cs9083.severity = warning
dotnet_diagnostic.cs9084.severity = warning
dotnet_diagnostic.cs9085.severity = warning
dotnet_diagnostic.cs9086.severity = warning
dotnet_diagnostic.cs9087.severity = warning
dotnet_diagnostic.cs9088.severity = warning
dotnet_diagnostic.cs9089.severity = warning
dotnet_diagnostic.cs9090.severity = warning
dotnet_diagnostic.cs9091.severity = warning
dotnet_diagnostic.cs9092.severity = warning
dotnet_diagnostic.cs9093.severity = warning
dotnet_diagnostic.cs9094.severity = warning
dotnet_diagnostic.cs9095.severity = warning
dotnet_diagnostic.cs9097.severity = warning
dotnet_diagnostic.cs9099.severity = warning
dotnet_diagnostic.cs9100.severity = warning
dotnet_diagnostic.cs9107.severity = warning
dotnet_diagnostic.cs9113.severity = warning
dotnet_diagnostic.cs9124.severity = warning
dotnet_diagnostic.cs9154.severity = warning
dotnet_diagnostic.cs9158.severity = warning
dotnet_diagnostic.cs9159.severity = warning
dotnet_diagnostic.cs9179.severity = warning
dotnet_diagnostic.cs9181.severity = warning
dotnet_diagnostic.cs9182.severity = warning
dotnet_diagnostic.cs9183.severity = warning
dotnet_diagnostic.cs9184.severity = warning
dotnet_diagnostic.cs9191.severity = warning
dotnet_diagnostic.cs9192.severity = warning
dotnet_diagnostic.cs9193.severity = warning
dotnet_diagnostic.cs9195.severity = warning
dotnet_diagnostic.cs9196.severity = warning
dotnet_diagnostic.cs9200.severity = warning
dotnet_diagnostic.cs9208.severity = warning
dotnet_diagnostic.cs9209.severity = warning
dotnet_diagnostic.fs0020.severity = warning
dotnet_diagnostic.fs0025.severity = warning
dotnet_diagnostic.fs0026.severity = warning
dotnet_diagnostic.fs0066.severity = warning
dotnet_diagnostic.fs0067.severity = warning
dotnet_diagnostic.fs0104.severity = warning
dotnet_diagnostic.fs0193.severity = warning
dotnet_diagnostic.fs0524.severity = warning
dotnet_diagnostic.fs1182.severity = warning
dotnet_diagnostic.fs1183.severity = warning
dotnet_diagnostic.fs3218.severity = warning
dotnet_diagnostic.fs3390.severity = warning
dotnet_diagnostic.fs3520.severity = warning
dotnet_diagnostic.ide0005.severity = error
dotnet_diagnostic.wme006.severity = warning

# ReSharper properties
resharper_align_multiline_argument = true
resharper_align_tuple_components = true
resharper_arguments_skip_single = true
resharper_blank_lines_after_block_statements = 0
resharper_blank_lines_after_start_comment = 0
resharper_blank_lines_after_using_list = 0
resharper_blank_lines_around_auto_property = 0
resharper_blank_lines_around_block_case_section = 1
resharper_blank_lines_around_local_method = 0
resharper_blank_lines_around_property = 0
resharper_braces_for_for = required
resharper_braces_for_foreach = required
resharper_braces_for_ifelse = not_required
resharper_braces_for_while = required
resharper_braces_redundant = false
resharper_csharp_blank_lines_around_field = 0
resharper_csharp_blank_lines_around_invocable = 0
resharper_csharp_blank_lines_around_namespace = 0
resharper_csharp_blank_lines_around_region = 0
resharper_csharp_empty_block_style = together_same_line
resharper_csharp_indent_invocation_pars = none
resharper_csharp_insert_final_newline = true
resharper_csharp_keep_existing_enum_arrangement = false
resharper_csharp_max_line_length = 1347
resharper_csharp_remove_blank_lines_near_braces_in_code = false
resharper_csharp_remove_blank_lines_near_braces_in_declarations = false
resharper_csharp_space_around_alias_eq = false
resharper_csharp_space_before_trailing_comment = false
resharper_csharp_wrap_before_binary_opsign = true
resharper_csharp_wrap_parameters_style = chop_if_long
resharper_csharp_wrap_ternary_expr_style = wrap_if_long
resharper_indent_pars = outside
resharper_indent_preprocessor_other = do_not_change
resharper_instance_members_qualify_declared_in =
resharper_keep_existing_attribute_arrangement = true
resharper_max_attribute_length_for_same_line = 10000
resharper_method_or_operator_body = expression_body
resharper_parentheses_redundancy_style = remove
resharper_parentheses_same_type_operations = true
resharper_place_accessorholder_attribute_on_same_line = false
resharper_place_expr_accessor_on_single_line = true
resharper_place_expr_method_on_single_line = true
resharper_place_expr_property_on_single_line = true
resharper_place_field_attribute_on_same_line = false
resharper_place_method_attribute_on_same_line = true
resharper_place_simple_case_statement_on_same_line = if_owner_is_single_line
resharper_place_simple_initializer_on_single_line = false
resharper_place_simple_list_pattern_on_single_line = false
resharper_place_simple_property_pattern_on_single_line = false
resharper_place_single_method_argument_lambda_on_same_line = false
resharper_space_within_empty_braces = false
resharper_trailing_comma_in_multiline_lists = true
resharper_wrap_array_initializer_style = chop_always
resharper_wrap_list_pattern = chop_always
resharper_wrap_object_and_collection_initializer_style = chop_always
resharper_wrap_primary_constructor_parameters_style = wrap_if_long
resharper_wrap_property_pattern = chop_always
