@if (Item != null)
{
    <div class="properties">
        @if (Item.Properties.ItemLevel > 0)
        {
            <ItemPropertyText Label="@GameLanguageProvider.Language.DescriptionItemLevel" Value="@Item.Properties.ItemLevel.ToString()" />
        }
        @if (Item.Properties.BaseDefencePercentile.HasValue)
        {
            <ItemPropertyText Label="@Resources.BasePercentile" Value="@(Item.Properties.BaseDefencePercentile + "%")" />
        }
    </div>
    <ItemRequirementsComponent Item="Item" />
}

@code {
    [Parameter] public TradeItem Item { get; set; }

    [Inject] public IGameLanguageProvider GameLanguageProvider { get; set; }

    [Inject] private TradeResources Resources { get; set; }
}
