@using Sidekick.Apis.Poe.Trade.Models
@using Sidekick.Common.Game.Languages
@using Sidekick.Modules.Trade.Localization

<div class="text-center text-[#7f7f7f]">
    @if (Item.Properties.ItemLevel > 0)
    {
        <ItemPropertyText Label="@GameLanguageProvider.Language.DescriptionItemLevel" Value="@Item.Properties.ItemLevel.ToString()"/>
    }
    @if (Item.Properties.BaseDefencePercentile.HasValue)
    {
        <ItemPropertyText Label="@Resources["Base Percentile"]" Value="@(Item.Properties.BaseDefencePercentile + "%")"/>
    }
</div>

@inject IGameLanguageProvider GameLanguageProvider
@inject IStringLocalizer<TradeResources> Resources

@code {

    [Parameter]
    public required TradeItem Item { get; set; }

}
