@if (Item != null)
{
    <div class="properties">
        @if (Item.Properties.ItemLevel > 0)
        {
            <PropertyText Label="@GameLanguageProvider.Language.DescriptionItemLevel"
                  Value="Item.Properties.ItemLevel" />
        }
    </div>
    <ItemRequirementsComponent Item="Item" />
}

@code {
    [Parameter] public TradeItem Item { get; set; }

    [Inject] public IGameLanguageProvider GameLanguageProvider { get; set; }
}
