@using Sidekick.Apis.Poe.Trade.Trade.Results
@if (IsFirstOfBlock)
{
    <ItemSeparator Rarity="Result.Item.Rarity"/>
}

<TextBase Class="relative px-2 font-caps text-center text-[##8888FF] leading-none py-px">
    <ItemModifierText Category="ModifierLine.Category">@ModifierLine.Text</ItemModifierText>
    @if (!string.IsNullOrWhiteSpace(ModifierLine.Tier))
    {
        <span class="absolute top-0.5 left-[-6px] @GetTierClass(ModifierLine.Tier)">@ModifierLine.Tier</span>
    }
</TextBase>

@code {

    [Parameter]
    public required TradeResult Result { get; set; }

    [Parameter]
    public required List<ItemModifiers.ModifierLine> ModifierLines { get; set; }

    [Parameter]
    public required ItemModifiers.ModifierLine ModifierLine { get; set; }

    private bool IsFirstOfBlock
    {
        get
        {
            var index = ModifierLines.IndexOf(ModifierLine);
            var previous = ModifierLines.ElementAtOrDefault(index - 1);
            return previous == null || ModifierLine.BlockIndex != previous.BlockIndex;
        }
    }

    private string GetTierClass(string tier) => tier.StartsWith("P") ? "text-[#ec7676]" : "text-[#7aaff1]";

    protected override bool ShouldRender() => false;

}
