
<ItemHeaderBackground Rarity="Rarity"
                      IsRelic="IsRelic"
                      Double="Double">
    <div class="influences left">
        <ItemInfluencesComponent Influences="Influences" />
    </div>
    @if (!string.IsNullOrEmpty(Name))
    {
        <MudText Typo="Typo.h6" Align="Align.Center" Class="name font-smallcaps" Style="@context.LabelStyle">@Name</MudText>
    }
    @if (!string.IsNullOrEmpty(Type))
    {
        <MudText Typo="Typo.h6" Align="Align.Center" Class="type font-smallcaps" Style="@context.LabelStyle">@Type</MudText>
    }
    <div class="influences right">
        <ItemInfluencesComponent Influences="Influences" />
    </div>
</ItemHeaderBackground>

@code {
    [Parameter] public Rarity Rarity { get; set; }

    [Parameter] public string Name { get; set; }

    [Parameter] public string Type { get; set; }

    [Parameter] public Influences Influences { get; set; }

    [Parameter] public bool IsRelic { get; set; }

    private bool Double
    {
        get
        {
            if (IsRelic)
            {
                return !string.IsNullOrEmpty(Name) && !string.IsNullOrEmpty(Type);
            }

            switch (Rarity)
            {
                case Rarity.Currency: return false;
                case Rarity.Magic: return false;
                case Rarity.Gem: return false;
                case Rarity.Rare:
                    return !string.IsNullOrEmpty(Name) && !string.IsNullOrEmpty(Type);
                case Rarity.Unique:
                    return !string.IsNullOrEmpty(Name) && !string.IsNullOrEmpty(Type);
                default: return false;
            }
        }
    }
}
