@using Sidekick.Apis.Poe.Trade.Results
@using Sidekick.Common.Game.Languages
@using Sidekick.Modules.Trade.Localization

<div class="text-center text-[#7f7f7f]">
    @if (Result.Item.ItemLevel > 0)
    {
        <ItemPropertyText Label="@GameLanguageProvider.Language.DescriptionItemLevel" Value="@Result.Item.ItemLevel.ToString()" Class="text-center justify-center"/>
    }
    @if (Result.Item.Extended?.BaseDefencePercentile > 0)
    {
        <ItemPropertyText Label="@Resources["Base Percentile"]" Value="@(Result.Item.Extended?.BaseDefencePercentile + "%")" Class="text-center justify-center"/>
    }
</div>

@inject IGameLanguageProvider GameLanguageProvider
@inject IStringLocalizer<TradeResources> Resources

@code {

    [Parameter]
    public required TradeResult Result { get; set; }

    protected override bool ShouldRender() => false;

}
