@using Sidekick.Apis.Poe.Trade.Trade.Items.Results
@using Sidekick.Data.Languages

@if (Result.Item.ItemLevel > 0)
{
    <div class="text-center text-[#7f7f7f]">
        <ItemPropertyText Label="@CurrentGameLanguage.Language.DescriptionItemLevel"
                          Value="@Result.Item.ItemLevel.ToString()" Class="text-center justify-center"/>
    </div>
}

@inject ICurrentGameLanguage CurrentGameLanguage

@code {

    [Parameter]
    public required TradeResult Result { get; set; }

    protected override bool ShouldRender() => false;

}
