@using Sidekick.Apis.Poe.Languages
@using Sidekick.Apis.Poe.Trade.Trade.Results

@if (Result.Item.ItemLevel > 0)
{
    <div class="text-center text-[#7f7f7f]">
        <ItemPropertyText Label="@GameLanguageProvider.Language.DescriptionItemLevel"
                          Value="@Result.Item.ItemLevel.ToString()" Class="text-center justify-center"/>
    </div>
}

@inject IGameLanguageProvider GameLanguageProvider

@code {

    [Parameter]
    public required TradeResult Result { get; set; }

    protected override bool ShouldRender() => false;

}
