@using Sidekick.Apis.Poe.Trade.Trade.Items.Results
<div class="mt-3 flex flex-col w-full items-center">
    <ItemGemSocketsComponent Result="Result"/>
    <div class="relative text-center">
        <img src="@Result.Item.Icon"/>
        <div class="absolute top-0 left-0 right-0 bottom-0">
            <ItemSocketsComponent Result="Result"/>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public required TradeResult Result { get; set; }

    protected override bool ShouldRender() => false;

}
