@using Sidekick.Apis.Poe.Items
@using Sidekick.Modules.Items.Trade.Localization
@using Sidekick.Common.Settings

@if (TradeService.ItemTradeResult == null)
{
    return;
}

@if (TradeService.ResultError != null)
{
    <AlertError>@TradeService.ResultError</AlertError>
}

@foreach (var result in TradeService.TradeItems)
{
    <ItemComponent @key="result.Id" Result="result" IsCompact="@IsCompact"/>
}

@if (TradeService.IsLoading)
{
    return;
}

@if (TradeService.TradeItems.Count == 0)
{
    <AlertInfo>@Resources["NoResults"]</AlertInfo>
}
else if (!FullyLoaded)
{
    <div class="flex justify-center">
        <IntersectionObserver Callback="LoadMoreData">
            <ButtonPrimary OnClick="LoadMoreData">@Resources["LoadMoreData"]</ButtonPrimary>
        </IntersectionObserver>
    </div>
}

@implements IDisposable

@inject IStringLocalizer<TradeResources> Resources
@inject TradeService TradeService
@inject ISettingsService SettingsService

@code {

    [CascadingParameter]
    public required Item Item { get; set; }

    private bool FullyLoaded => TradeService.TradeItems.Count == (TradeService.ItemTradeResult?.Result?.Count ?? 0);

    private bool IsCompact { get; set; }

    protected override async Task OnInitializedAsync()
    {
        IsCompact = await SettingsService.GetBool(SettingKeys.PriceCheckCompactMode);

        SettingsService.OnSettingsChanged += OnSettingsChanged;

        TradeService.Changed += StateHasChanged;

        await base.OnInitializedAsync();
    }

    private async void OnSettingsChanged(string[] keys)
    {
        if (keys.Contains(SettingKeys.PriceCheckCompactMode))
        {
            IsCompact = await SettingsService.GetBool(SettingKeys.PriceCheckCompactMode);
            await InvokeAsync(StateHasChanged);
        }
    }

    private async void LoadMoreData()
    {
        await TradeService.LoadMoreItems(Item.Game);
    }

    public void Dispose()
    {
        SettingsService.OnSettingsChanged -= OnSettingsChanged;
        TradeService.Changed -= StateHasChanged;
    }

}
