@if (!string.IsNullOrEmpty(Label))
{
<label for="@Id"
       class="block mb-1 text-base font-medium dark:text-zinc-300">
    @Label
</label>
}

<div class="flex flex-nowrap gap-1 mb-3">
    <input id="@Id"
           @attributes="InputAttributes"
           type="number"
           @onchange="OnChange"
           value="@Value"
           class="@UiClasses.FormInputClasses p-2 text-base min-w-0 grow"/>
</div>

@code {

    [Parameter]
    public string? Label { get; set; }

    [Parameter]
    public double? Value { get; set; }

    [Parameter]
    public EventCallback<double?> ValueChanged { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? InputAttributes { get; set; }

    protected string Id { get; } = UiUtilities.GenerateId();

    protected string InternalValue { get; set; } = string.Empty;

    protected override void OnParametersSet()
    {
        InternalValue = Value?.ToString() ?? string.Empty;
        base.OnParametersSet();
    }

    protected async Task OnChange(ChangeEventArgs args)
    {
        if (double.TryParse(args.Value?.ToString(), out var decimalValue))
        {
            await ValueChanged.InvokeAsync(decimalValue);
        }
        else
        {
            await ValueChanged.InvokeAsync(null);
        }
    }

}
