@inherits FormNumber

<div class="flex items-center flex-nowrap gap-1">
    @if (!string.IsNullOrEmpty(Label))
    {
        <label for="@Id"
               class="block text-base font-medium dark:text-zinc-300">
            @Label
        </label>
    }

    <input id="@Id"
           @onchange="OnChange"
           value="@InternalValue"
           class="@UiClasses.FormInputClasses p-[2px] text-sm min-w-0 grow" />
</div>
