@using System.Globalization
<div>

    @if (!string.IsNullOrEmpty(Label))
    {
        <label for="@ElementId"
               class="block mb-1 text-base font-medium dark:text-zinc-300">
            @Label
        </label>
    }

    <div class="flex flex-nowrap gap-1">
        <input id="@ElementId"
               @attributes="InputAttributes"
               type="number"
               @onchange="OnChange"
               value="@Value"
               class="@UiClasses.FormInputClasses p-2 text-base min-w-0 grow" />
    </div>

</div>

@inject IJSRuntime JsRuntime
@inject ILogger<FormNumber> Logger
@implements IAsyncDisposable

@code {

    [Parameter]
    public string? Label { get; set; }

    [Parameter]
    public double? Value { get; set; }

    [Parameter]
    public EventCallback<double?> ValueChanged { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? InputAttributes { get; set; }

    private IJSObjectReference? JsObject { get; set; }

    private DotNetObjectReference<FormNumber>? Reference { get; set; }

    protected string ElementId { get; } = UiUtilities.GenerateId();

    protected string InternalValue { get; set; } = string.Empty;

    protected override void OnParametersSet()
    {
        InternalValue = Value?.ToString() ?? string.Empty;
        base.OnParametersSet();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                Reference = DotNetObjectReference.Create(this);
                JsObject = await JsRuntime.InvokeAsync<IJSObjectReference>("sidekick.forms.numberInputWheel", ElementId, Reference);
            }
            catch (Exception e)
            {
                Logger.LogError(e, "Failed to load javascript module.");
            }
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    protected async Task OnChange(ChangeEventArgs args)
    {
        if (double.TryParse(args.Value?.ToString(), CultureInfo.InvariantCulture, out var decimalValue))
        {
            await ValueChanged.InvokeAsync(decimalValue);
        }
        else
        {
            await ValueChanged.InvokeAsync(null);
        }
    }

    public async ValueTask DisposeAsync()
    {        
        if (JsObject != null)
        {
            await JsObject.InvokeVoidAsync("dispose");
            await JsObject.DisposeAsync();
        }
        Reference?.Dispose();
    }
}
