<div class="flex flex-nowrap items-center w-full bg-violet-600 p-3 text-white">
    <Icon Svg="@UiIcons.Warning" Size="@UiIconSize.Medium" />
    <div class="ml-3 grow">
        @ChildContent
    </div>
</div>

@code {

    [Parameter]
    public required RenderFragment ChildContent { get; set; }

}
