<div class="@Class">
    <Icon Svg="@UiIcons.Error" Size="@UiIconSize.Medium" />
    <div class="grow">
        @ChildContent
    </div>
</div>

@code {

    [Parameter]
    public required RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool IsCritical { get; set; } = true;

    [Parameter]
    public bool Flat { get; set; }

    private string Class
    {
        get
        {
            if (IsCritical)
            {
                if (Flat) return "flex flex-nowrap gap-2 items-center w-full text-red-500 p-2 bg-transparent";
                return "flex flex-nowrap gap-2 items-center w-full bg-red-700 p-2 text-white";
            }

            if (Flat) return "flex flex-nowrap gap-2 items-center w-full text-orange-500 p-2 bg-transparent";
            return "flex flex-nowrap gap-2 items-center w-full bg-orange-700 p-2 text-white";
        }
    }

}
