<div class="flex flex-nowrap items-center w-full @BackgroundClass p-3">
    <Icon Svg="@UiIcons.Error" Size="@UiIconSizes.Large" />
    <div class="ml-3 grow">
        @ChildContent
    </div>
</div>

@code {

    [Parameter]
    public required RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool IsCritical { get; set; } = true;

    private string BackgroundClass => IsCritical ? "bg-red-700 text-white" : "bg-orange-700 text-white";

}
