<div class="flex flex-nowrap gap-2 items-center w-full bg-violet-600 p-2 text-white">
    <Icon Svg="@UiIcons.Warning" Size="@UiIconSize.Medium" />
    <div class="grow">
        @ChildContent
    </div>
</div>

@code {

    [Parameter]
    public required RenderFragment ChildContent { get; set; }

}
