<div class="w-[19rem] my-0 mx-auto">
    <div class="bg-[url('/images/items/boss_frame.png')] bg-contain w-full bg-no-repeat relative pb-[21.75%]">
        <div class="absolute top-[30%] left-[15%] right-[15%] h-[40%] text-center font-caps flex items-center justify-center text-[#E7822D] text-[1rem] leading-[0.8]">@Name</div>
    </div>
</div>

@code {

    [Parameter]
    public string? Name { get; set; }

}
