@using Microsoft.JSInterop
@implements IAsyncDisposable
@inject IJSRuntime JsRuntime

<div @ref="LogContainer" class="flex flex-col overflow-auto max-h-[calc(100vh-120px)] text-nowrap font-mono text-sm p-4 bg-black/20 border border-white/10">
    @foreach (var log in Logs)
    {
        <div class="mb-1 border-b border-white/5 pb-1 last:border-0 last:pb-0 @GetLogClass(log)">@log</div>
    }
</div>

@code {
    private ElementReference LogContainer { get; set; }
    private List<string> Logs { get; set; } = new();
    private IJSObjectReference? Module { get; set; }

    private static string GetLogClass(string log) => log switch
    {
        var x when x.Contains("[WRN]") => "text-yellow-500",
        var x when x.Contains("[ERR]") => "text-red-500",
        var x when x.Contains("[FTL]") => "text-red-700 font-bold",
        var x when x.Contains("[DBG]") => "text-gray-400",
        var x when x.Contains("[VRB]") => "text-gray-500",
        var x when x.Contains("[INF]") => "text-blue-400",
        _ => "text-gray-200"
    };

    protected override void OnInitialized()
    {
        Logs = new List<string>(LogSink.Instance.Entries.ToList());
        LogSink.Instance.LogEventEmitted += OnLogEventEmitted;
        base.OnInitialized();
    }

    private void OnLogEventEmitted(string log)
    {
        _ = InvokeAsync(async () =>
        {
            Logs.Add(log);
            if (Logs.Count > 1000)
            {
                Logs.RemoveAt(0);
            }
            StateHasChanged();
            await ScrollToBottom();
        });
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Module = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./_content/Sidekick.Modules.Logs/LogStream.razor.js");
            await ScrollToBottom();
        }
    }

    private async Task ScrollToBottom()
    {
        if (Module != null)
        {
            await Module.InvokeVoidAsync("scrollToBottom", LogContainer);
        }
    }

    public async ValueTask DisposeAsync()
    {
        LogSink.Instance.LogEventEmitted -= OnLogEventEmitted;

        if (Module != null)
        {
            await Module.DisposeAsync();
        }
    }
}