<h4 class="font-medium leading-none tracking-tight @Class">@ChildContent</h4>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? Class { get; set; }

}
