<div class="text-sm opacity-80 leading-none @Class">@ChildContent</div>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? Class { get; set; }

}
