@using Microsoft.EntityFrameworkCore
@using Sidekick.Apis.Poe.Account.Stash.Models
@using Sidekick.Common.Database
@using Sidekick.Common.Database.Tables
@using Sidekick.Common.Enums
@using Sidekick.Modules.Wealth.Provider
@using Sidekick.Modules.Wealth.Localization
@using Sidekick.Common.Settings

<FormFieldset Legend="Stash Tabs">
    <div class="-mt-5 flex flex-nowrap justify-end items-center">
        <WealthTabSelection OnSelected="RetrieveStashes"/>
    </div>

    @if (Loading)
    {
        <ProgressBar Indeterminate="true"/>
        return;
    }

    @if (StashTabs.Count == 0)
    {
        <AlertInfo>@Resources["No_Stash_Selected"]</AlertInfo>
        return;
    }

    <div class="flex flex-col items-stretch gap-1 -mt-1">
        @foreach (var stashTab in StashTabs)
        {
            <FormCheckbox @key="stashTab.Id"
                          Value="stashTab.Selected"
                          ValueChanged="(v) => Toggle(stashTab, v)">
                <div class="flex flex-nowrap items-center gap-1 w-full">
                    <div class="size-5 -ml-1">
                        @{
                            var imageUrl = Enum.TryParse<StashType>(stashTab.Type, out var typeEnum) ? typeEnum.GetValueAttribute("image") : null;
                        }
                        @if (!string.IsNullOrEmpty(imageUrl) && typeEnum.ToString() != imageUrl)
                        {
                            <img alt="icon" src="@imageUrl" class="w-5 h-5" />
                        }
                    </div>
                    <div class="truncate">@stashTab.Name</div>
                    @if (WealthProvider.PendingStashIds.Contains(stashTab.Id))
                    {
                        <ProgressSpinner/>
                    }
                    <div class="ml-auto text-yellow-600">@stashTab.Total.ToString("N0")</div>
                </div>
            </FormCheckbox>
        }
    </div>
</FormFieldset>

@inject IStringLocalizer<WealthResources> Resources
@inject DbContextOptions<SidekickDbContext> DbContextOptions
@inject ISettingsService SettingsService
@inject WealthProvider WealthProvider
@implements IDisposable

@code {

    private List<WealthStash> StashTabs { get; set; } = [];

    private bool Loading { get; set; }

    protected override async Task OnInitializedAsync()
    {
        WealthProvider.OnStatusChanged += WealthProviderOnOnStatusChanged;
        WealthProvider.OnRefreshed += WealthProviderOnOnRefreshed;;
        await RetrieveStashes();
        await base.OnInitializedAsync();
    }

    public async Task RetrieveStashes()
    {
        Loading = true;
        StateHasChanged();

        var leagueId = await SettingsService.GetString(SettingKeys.LeagueId);
        await using var database = new SidekickDbContext(DbContextOptions);
        StashTabs = await database.WealthStashes.Where(x => x.League == leagueId).ToListAsync();
        StashTabs = StashTabs.OrderByDescending(x => x.Total).ToList();

        Loading = false;
        StateHasChanged();
    }

    private async Task Toggle(WealthStash tab, bool isChecked)
    {
        tab.Selected = isChecked;

        await using var database = new SidekickDbContext(DbContextOptions);
        var dbTab = await database.WealthStashes.Where(x => x.Id == tab.Id).FirstOrDefaultAsync();
        if (dbTab != null)
        {
            dbTab.Selected = isChecked;
            await database.SaveChangesAsync();
        }

        WealthProvider.FiltersChanged();
    }

    private void WealthProviderOnOnRefreshed()
    {
        InvokeAsync(RetrieveStashes);
    }

    private void WealthProviderOnOnStatusChanged()
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        WealthProvider.OnStatusChanged -= WealthProviderOnOnStatusChanged;
    }

}
