@using Microsoft.EntityFrameworkCore
@using Sidekick.Common.Database
@using Sidekick.Common.Database.Tables
@using Sidekick.Modules.Wealth.Provider
@using Sidekick.Modules.Wealth.Localization
@using Sidekick.Common.Settings

@if (StashTabs.Count == 0)
{
    return;
}

<FormFieldset Legend="@Resources["Stash_Tabs"]">
    @if (Loading)
    {
        <ProgressBar Indeterminate="true"/>
        return;
    }

    <div class="flex flex-col items-stretch gap-1 -mt-1">
        @foreach (var stashTab in StashTabs)
        {
            <WealthTab @key="@stashTab.Id"
                       StashTab="stashTab"/>
        }
    </div>
</FormFieldset>

@inject IStringLocalizer<WealthResources> Resources
@inject DbContextOptions<SidekickDbContext> DbContextOptions
@inject ISettingsService SettingsService
@inject WealthProvider WealthProvider
@implements IDisposable

@code {

    private List<WealthStash> StashTabs { get; set; } = [];

    private bool Loading { get; set; }

    protected override async Task OnInitializedAsync()
    {
        WealthProvider.OnSelectedStashesChanged += UpdateStashes;
        WealthProvider.OnStashChanged += UpdateStashes;
        await RetrieveStashes();
        await base.OnInitializedAsync();
    }

    private async Task RetrieveStashes()
    {
        Loading = true;
        StateHasChanged();

        var leagueId = await SettingsService.GetString(SettingKeys.LeagueId);
        await using var database = new SidekickDbContext(DbContextOptions);
        StashTabs = await database.WealthStashes.Where(x => x.League == leagueId).ToListAsync();
        StashTabs = StashTabs.OrderByDescending(x => x.Total).ToList();

        Loading = false;
        StateHasChanged();
    }

    private void UpdateStashes()
    {
        InvokeAsync(async()=>
        {
            await RetrieveStashes();
            StateHasChanged();
        });
    }

    private void UpdateStashes(string? id) => UpdateStashes();

    public void Dispose()
    {
        WealthProvider.OnSelectedStashesChanged -= UpdateStashes;
        WealthProvider.OnStashChanged += UpdateStashes;
    }

}
