<div class="w-[19rem]">
    <div class="bg-[url('/images/items/divination_card_mini.png')] bg-contain w-full bg-no-repeat relative pb-[40.68%]">
        <div class="absolute top-[10%] left-[15%] right-[15%] h-[20%] font-caps text-center flex items-center justify-center text-[#030301] text-[1rem] leading-[0.8]">@Name</div>
        @if (!string.IsNullOrEmpty(Description))
        {
            <div class="absolute top-[35%] left-[10%] right-[10%] h-[50%] text-center text-white text-base leading-none font-caps flex items-center justify-center">
                <div>
                    @((MarkupString)Description)
                </div>
            </div>
        }
    </div>
</div>

@code {

    [Parameter]
    public string? Name { get; set; }

    [Parameter]
    public string? Description { get; set; }

}
