@using Sidekick.Apis.Poe.Items
<div class="separator [&+.separator]:hidden first:hidden bg-center bg-no-repeat h-[8px] @BackgroundClass"></div>

@code {
    [Parameter]
    public Rarity Rarity { get; set; }

    private string BackgroundClass => Rarity switch
    {
        Rarity.Currency => "bg-[url('/images/items/seperator-currency.png')]",
        Rarity.Magic => "bg-[url('/images/items/seperator-magic.png')]",
        Rarity.Rare => "bg-[url('/images/items/seperator-rare.png')]",
        Rarity.Unique => "bg-[url('/images/items/seperator-unique.png')]",
        _ => "bg-[url('/images/items/seperator-normal.png')]",
    };
}
