@using Sidekick.Apis.Poe.Trade.Models

<TextBase Class="font-caps leading-none py-0.5">
    <span class="text-[#7f7f7f]">@Label</span>
    @if (OnlyShowLabel == false)
    {
        <span class="text-[#7f7f7f]">: </span>
        <span class="@ContentType.GetColour()">@Value</span>
    }
</TextBase>

@code {

    [Parameter]
    public string? Label { get; set; }

    [Parameter]
    public string? Value { get; set; }

    [Parameter]
    public LineContentType ContentType { get; set; } = LineContentType.Simple;

    [Parameter]
    public bool OnlyShowLabel { get; set; }

}
