@using Sidekick.Common.Blazor.Update
@inherits LayoutComponentBase

<div class="h-screen flex flex-col">
    <div class="grow overflow-y-auto overflow-x-hidden">
        @Body
    </div>
    <UpdateBanner/>
</div>
