
<MudPaper Class="pa-2">
    <div class="d-flex align-center">
        <img src="/images/betrayal/@Image" alt="@Name" />
        <MudText Align="Align.Center" Typo="Typo.h3">
            @Name
        </MudText>
    </div>
    <MudList Dense="true" DisableGutters="true" DisablePadding="true">
        @ChildContent
    </MudList>
</MudPaper>

@code {
    [Inject] private BetrayalResources Resources { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string Name { get; set; }
    [Parameter] public string Image { get; set; }
}
