@page "/dialog/confirm/{message}"
@using Sidekick.Common.Extensions
@inherits SidekickView

<AppTitle Title="@null"/>
<LayoutSimple>
    <TopContent>
        <AppLogo/>
    </TopContent>

    <ChildContent>
        <AppFullContainer>
            <Heading3
                Class="mb-3 text-center">@((MarkupString)(Message.DecodeBase64Url()?.Replace("\\n", "<br />") ?? "Confirmation required"))</Heading3>
        </AppFullContainer>
    </ChildContent>
    <BottomContent>
        <div class="px-3 py-2 flex justify-center gap-2">
            <ButtonSecondary OnClick="No">
                @Resources["Cancel"]
            </ButtonSecondary>
            <ButtonPrimary OnClick="Yes">
                @Resources["Confirm"]
            </ButtonPrimary>
        </div>
    </BottomContent>
</LayoutSimple>

@inject IStringLocalizer<DialogResources> Resources;
@inject DialogService Service;

@code {

    [Parameter]
    public string? Message { get; set; }

    public override SidekickViewType ViewType => SidekickViewType.Modal;

    private async Task Yes()
    {
        Service.SetConfirmationResult(true);
        await CurrentView.Close();
    }

    private async Task No()
    {
        Service.SetConfirmationResult(false);
        await CurrentView.Close();
    }

}
