@page "/dialog/ok/{message}"
@using Sidekick.Common.Extensions

<LayoutSimple>
    <TopContent>
        <AppLogo/>
    </TopContent>

    <ChildContent>
        <AppFullContainer>
            <Heading3
                Class="mb-3 text-center">@((MarkupString)(Message.DecodeBase64Url()?.Replace("\\n", "<br />") ?? ""))</Heading3>
        </AppFullContainer>
    </ChildContent>
    <BottomContent>
        <div class="px-3 py-2 flex justify-center gap-2">
            <ButtonPrimary OnClick="Ok">
                @Resources["Ok"]
            </ButtonPrimary>
        </div>
    </BottomContent>
</LayoutSimple>

@inject IStringLocalizer<DialogResources> Resources
@inject DialogService Service
@inject ICurrentView CurrentView

@code {

    [Parameter]
    public string? Message { get; set; }

    protected override void OnInitialized()
    {
        CurrentView.Initialize(new ViewOptions()
        {
            Width = 400,
            Height = 220,
        });
        base.OnInitialized();
    }

    private void Ok()
    {
        Service.SetOkResult(true);
        CurrentView.Close();
    }

}
