<div id="@ElementId">
    @ChildContent
</div>

@inject SafeJsRuntime JsRuntime

@code {

    [Parameter]
    public required EventCallback Callback { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private Guid ElementId { get; } = Guid.NewGuid();

    private DotNetObjectReference<IntersectionObserver>? Reference { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Reference = DotNetObjectReference.Create(this);
            await JsRuntime.InvokeVoidAsync("sidekick.app.intersectionObserver", ElementId, Reference);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    [JSInvokable]
    public async Task OnIntersecting()
    {
        await Callback.InvokeAsync();
    }

}
