<div id="@ElementId">
    @ChildContent
</div>

@inject IJSRuntime JsRuntime
@inject ILogger<IntersectionObserver> Logger

@code {

    [Parameter]
    public required EventCallback Callback { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private Guid ElementId { get; } = Guid.NewGuid();

    private DotNetObjectReference<IntersectionObserver>? Reference { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                Reference = DotNetObjectReference.Create(this);
                await JsRuntime.InvokeVoidAsync("sidekick.app.intersectionObserver", ElementId, Reference);
            }
            catch (Exception e)
            {
                Logger.LogError(e, "Failed to load javascript module.");
            }
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    [JSInvokable]
    public async Task OnIntersecting()
    {
        await Callback.InvokeAsync();
    }

}
