@page "/home"
@using Sidekick.Common.Blazor.Components
@using Sidekick.Common.Extensions
@inherits SidekickView
@layout MainWindowLayout

<AppContainer>
    <FormFieldset Legend="Copy your item text here">
        <FormTextarea @bind-Value="ItemText" />
        <div class="grid grid-cols-12 gap-3 mt-3">
            <div class="col-span-6">
                <ButtonPrimary OnClick="PriceCheck">Check Prices</ButtonPrimary>
            </div>
            <div class="col-span-6">
                <ButtonPrimary OnClick="MapCheck">Check Map</ButtonPrimary>
            </div>
        </div>
    </FormFieldset>
</AppContainer>

@code {

    private string? ItemText { get; set; }

    private void PriceCheck()
    {
        if (ItemText != null)
        {
            NavigationManager.NavigateTo($"/trade/{ItemText.EncodeBase64Url()}");
        }
    }

    private void MapCheck()
    {
        if (ItemText != null)
        {
            NavigationManager.NavigateTo($"/map/{ItemText.EncodeBase64Url()}");
        }
    }

}
