@using Sidekick.Apis.Poe.Account.Authentication
@using Sidekick.Common.Settings

@if (CurrentState == AuthenticationState.Authenticated)
{
    <div class="flex flex-nowrap items-center gap-2">
        <div class="bg-green-600 rounded-full w-2 h-2"></div>
        <ButtonSecondary OnClick="() => AuthenticationService.Authenticate(true)"
                         Class="!p-0 !text-green-600">
            Authenticated (@TokenRemainingString)
        </ButtonSecondary>
    </div>
}
else if (CurrentState == AuthenticationState.InProgress)
{
    <AlertInfo>
        <TextBase>You are currently authenticating.</TextBase>
    </AlertInfo>
    <ProgressBar Square="true" Indeterminate="true"/>
}
else if (CurrentState == AuthenticationState.Unauthenticated)
{
    <AlertError>
        <div class="flex flex-wrap items-center justify-between gap-2">
            <TextBase>You are unauthenticated.</TextBase>
            <ButtonPrimary OnClick="() => AuthenticationService.Authenticate(true)">Authenticate</ButtonPrimary>
        </div>
    </AlertError>
}

@implements IDisposable
@inject IAuthenticationService AuthenticationService
@inject ISettingsService SettingsService

@code {
    private Timer? refreshTimer;

    private AuthenticationState CurrentState { get; set; }

    private string? TokenRemainingString { get; set; }

    protected override void OnInitialized()
    {
        AuthenticationService.OnStateChanged += OnChanged;

        refreshTimer = new Timer(
            _ => { OnChanged(); },
            null,
            TimeSpan.Zero,
            TimeSpan.FromMinutes(1));

        OnChanged();
        base.OnInitialized();
    }

    private void OnChanged()
    {
        InvokeAsync(
            async () =>
            {
                CurrentState = await AuthenticationService.GetCurrentState();

                var bearerExpiration = await SettingsService.GetDateTime(SettingKeys.BearerExpiration);
                if (bearerExpiration == null)
                {
                    TokenRemainingString = "";
                }
                else
                {
                    var remainingTime = bearerExpiration - DateTimeOffset.Now;
                    TokenRemainingString = $"{remainingTime.Value.Hours:00}:{remainingTime.Value.Minutes:00}";
                }

                StateHasChanged();
            });
    }

    public void Dispose()
    {
        refreshTimer?.Dispose();
        AuthenticationService.OnStateChanged -= OnChanged;
    }

}
