.item-header-currency {
    background: url("/images/items/header-currency-left.png") top left repeat-y, url("/images/items/header-currency-right.png") top right repeat-y, url("/images/items/header-currency-middle.png") top center repeat;
    background-size: contain;
}

.item-header-currency.poe2 {
    background: url("/images/items/poe2/header-currency-left.png") top left repeat-y, url("/images/items/poe2/header-currency-right.png") top right repeat-y, url("/images/items/poe2/header-currency-middle.png") top center repeat;
    background-size: contain;
}

.item-header-gem {
    background: url("/images/items/header-gem-left.png") top left repeat-y, url("/images/items/header-gem-right.png") top right repeat-y, url("/images/items/header-gem-middle.png") top center repeat;
    background-size: contain;

}

.item-header-gem.poe2 {
    background: url("/images/items/poe2/header-gem-left.png") top left repeat-y, url("/images/items/poe2/header-gem-right.png") top right repeat-y, url("/images/items/poe2/header-gem-middle.png") top center repeat;
    background-size: contain;
}

.item-header-relic {
    background: url("/images/items/header-relic-left.png") top left repeat-y, url("/images/items/header-relic-right.png") top right repeat-y, url("/images/items/header-relic-middle.png") top center repeat;
    background-size: contain;
}

.item-header-double-relic {
    background: url("/images/items/header-double-relic-left.png") top left repeat-y, url("/images/items/header-double-relic-right.png") top right repeat-y, url("/images/items/header-double-relic-middle.png") top center repeat;
    background-size: contain;
}

.item-header-double-rare {
    background: url("/images/items/header-double-rare-left.png") top left repeat-y, url("/images/items/header-double-rare-right.png") top right repeat-y, url("/images/items/header-double-rare-middle.png") top center repeat;
    background-size: contain;
}

.item-header-double-rare.poe2 {
    background: url("/images/items/poe2/header-double-rare-left.png") top left repeat-y, url("/images/items/poe2/header-double-rare-right.png") top right repeat-y, url("/images/items/poe2/header-double-rare-middle.png") top center repeat;
    background-size: contain;
}

.item-header-double-unique {
    background: url("/images/items/header-double-unique-left.png") top left repeat-y, url("/images/items/header-double-unique-right.png") top right repeat-y, url("/images/items/header-double-unique-middle.png") top center repeat;
    background-size: contain;
}

.item-header-double-unique.poe2 {
    background: url("/images/items/poe2/header-double-unique-left.png") top left repeat-y, url("/images/items/poe2/header-double-unique-right.png") top right repeat-y, url("/images/items/poe2/header-double-unique-middle.png") top center repeat;
    background-size: contain;
}

.item-header-magic {
    background: url("/images/items/header-magic-left.png") top left repeat-y, url("/images/items/header-magic-right.png") top right repeat-y, url("/images/items/header-magic-middle.png") top center repeat;
    background-size: contain;
}

.item-header-magic.poe2 {
    background: url("/images/items/poe2/header-magic-left.png") top left repeat-y, url("/images/items/poe2/header-magic-right.png") top right repeat-y, url("/images/items/poe2/header-magic-middle.png") top center repeat;
    background-size: contain;
}

.item-header-normal {
    background: url("/images/items/header-normal-left.png") top left repeat-y, url("/images/items/header-normal-right.png") top right repeat-y, url("/images/items/header-normal-middle.png") top center repeat;
    background-size: contain;
}

.item-header-normal.poe2 {
    background: url("/images/items/poe2/header-normal-left.png") top left repeat-y, url("/images/items/poe2/header-normal-right.png") top right repeat-y, url("/images/items/poe2/header-normal-middle.png") top center repeat;
    background-size: contain;
}

.item-header-rare {
    background: url("/images/items/header-rare-left.png") top left repeat-y, url("/images/items/header-rare-right.png") top right repeat-y, url("/images/items/header-rare-middle.png") top center repeat;
    background-size: contain;
}

.item-header-rare.poe2 {
    background: url("/images/items/poe2/header-rare-left.png") top left repeat-y, url("/images/items/poe2/header-rare-right.png") top right repeat-y, url("/images/items/poe2/header-rare-middle.png") top center repeat;
    background-size: contain;
}

.item-header-unique {
    background: url("/images/items/header-unique-left.png") top left repeat-y, url("/images/items/header-unique-right.png") top right repeat-y, url("/images/items/header-unique-middle.png") top center repeat;
    background-size: contain;
}

.item-header-unique.poe2 {
    background: url("/images/items/poe2/header-unique-left.png") top left repeat-y, url("/images/items/poe2/header-unique-right.png") top right repeat-y, url("/images/items/poe2/header-unique-middle.png") top center repeat;
    background-size: contain;
}

.item-header-double-foil {
    background: url("/images/items/header-double-foil-left.png") top left repeat-y, url("/images/items/header-double-foil-right.png") top right repeat-y, url("/images/items/header-double-foil-middle.png") top center repeat;
    background-size: contain;
}

.item-header-double-foil::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    mix-blend-mode: overlay;
    pointer-events: none
}

.item-header-foil-1::after {
    background: linear-gradient(180deg, rgba(151, 57, 253, 0.64), rgb(247, 184, 255))
}

.item-header-foil-2::after {
    background: linear-gradient(180deg, rgba(108, 255, 71, 0.64), rgb(4, 90, 82))
}

.item-header-foil-3::after {
    background: linear-gradient(180deg, rgba(255, 71, 122, 0.83), rgb(253, 182, 182))
}

.item-header-foil-4::after {
    background: linear-gradient(180deg, rgba(71, 255, 238, 0.64), rgba(39, 121, 245, 0.85))
}

.item-header-foil-5::after {
    background: linear-gradient(180deg, rgba(255, 190, 71, 0.64), rgba(109, 39, 245, 0.63))
}

.item-header-foil-6::after {
    background: linear-gradient(180deg, rgba(255, 234, 85, 0.78), rgba(245, 163, 39, 0.82))
}

.item-header-foil-7::after {
    background: linear-gradient(180deg, rgba(255, 34, 170, 0.64), rgb(250, 212, 255))
}

.item-header-foil-8::after {
    background: linear-gradient(180deg, rgba(168, 5, 5, 0.58), rgba(94, 94, 94, 0.21))
}

.item-header-foil-9::after {
    background: linear-gradient(180deg, rgba(52, 110, 0, 0.67), rgb(193, 122, 255))
}

.item-header-foil-10::after {
    background: linear-gradient(180deg, rgba(255, 251, 58, 0.64), rgba(106, 47, 29, 0.95))
}

.item-header-foil-11::after {
    background: linear-gradient(180deg, rgba(184, 233, 169, 0.84), rgba(229, 63, 85, 0.63))
}

.item-header-foil-12::after {
    background: linear-gradient(180deg, rgba(83, 214, 255, 0.78), rgba(88, 42, 122, 0.82));
}

