@import "./fonts.css";
@import "./item-headers.css";
@import "./item-sockets.css";
@import "./poe.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #0c0a09;
}

::-webkit-scrollbar-thumb {
    background: #44403c;
}

::-webkit-scrollbar-thumb:hover {
    background: #57534e;
}
