
:root {
    --poe-color-default: rgb(127,127,127);
    --poe-color-valuedefault: rgb(255,255,255);
    --poe-color-pink: rgb(255,192,203);
    --poe-color-dodgerblue: rgb(30,144,255);
    --poe-color-fire: rgb(150,0,0);
    --poe-color-cold: rgb(54,100,146);
    --poe-color-lightning: rgb(255,215,0);
    --poe-color-chaos: rgb(208,32,144);
    --poe-color-augmented: rgb(136,136,255);
    --poe-color-crafted: rgb(184,218,242);
    --poe-color-fractured: rgb(162,145,98);
    --poe-color-enchanted: rgb(184,218,242);
    --poe-color-hellscaped: rgb(255,110,37);
    --poe-color-unmet: rgb(210,0,0);
    --poe-color-uniqueitem: rgb(175,96,37);
    --poe-color-unique: rgb(175,96,37);
    --poe-color-rareitem: rgb(255,255,119);
    --poe-color-rare: rgb(255,255,119);
    --poe-color-magicitem: rgb(136,136,255);
    --poe-color-magic: rgb(136,136,255);
    --poe-color-whiteitem: rgb(200,200,200);
    --poe-color-normal: rgb(200,200,200);
    --poe-color-gemitem: rgb(27,162,155);
    --poe-color-gem: rgb(27,162,155);
    --poe-color-currencyitem: rgb(170,158,130);
    --poe-color-currency: rgb(170,158,130);
    --poe-color-questitem: rgb(74,230,58);
    --poe-color-quest: rgb(74,230,58);
    --poe-color-nemesismod: rgb(255,200,0);
    --poe-color-nemesismodoutline: rgb(219,34,0); /* 220,255,40,0 */
    --poe-color-talismanmod: rgb(141,241,79);
    --poe-color-talismanmodoutline: rgb(0,0,0); /* 220,0,0,0 */
    --poe-color-title: rgb(231,180,120);
    --poe-color-corrupted: rgb(210,0,0);
    --poe-color-favour: rgb(170,158,130);
    --poe-color-supporterpacknewitem: rgb(180,96,0);
    --poe-color-supporterpackitem: rgb(163,141,109);
    --poe-color-bloodlinemod: rgb(210,0,220);
    --poe-color-bloodlinemodoutline: rgb(58,0,125); /* 200,74,0,160 */
    --poe-color-tormentmod: rgb(50,230,100);
    --poe-color-tormentmodoutline: rgb(0,78,117); /* 200,0,100,150 */
    --poe-color-canttradeormodify: rgb(210,0,0);
    --poe-color-lockedtoaccount: rgb(210,0,0);
    --poe-color-divination: rgb(14,186,255);
    --poe-color-prophecy: rgb(181,75,255);
    --poe-color-essencemod: rgb(164,210,255);
    --poe-color-essencemodoutline: rgb(0,41,82); /* 210,0,50,100 */
    --poe-color-premiumchat: rgb(253,242,126);
    --poe-color-premiumchatoutline: rgb(209,46,46);
    --poe-color-uniquefoil: rgb(130,173,106);
    --poe-color-legacy: rgb(212,145,63);
    --poe-color-bestiarymod: rgb(255,255,255);
    --poe-color-bestiarymodoutline: rgb(219,34,0); /* 220,255,40,0 */
    --poe-color-blightmod: rgb(255,255,255);
    --poe-color-blightmodoutline: rgb(215,0,0); /* 255,215,0,0 */
    --poe-color-afflictionmod: rgb(22,25,28);
    --poe-color-afflictionmodoutline: rgb(151,164,181); /* 200,193,210,232 */
    --poe-color-stackitemlevel: rgb(255,255,255);
    --poe-color-harvestprimary: rgb(100,111,73);
    --poe-color-harvestsecondary: rgb(83,130,161);
    --poe-color-craftingcaster: rgb(179,248,254);
    --poe-color-craftingphysical: rgb(199,157,147);
    --poe-color-craftingfire: rgb(255,154,119);
    --poe-color-craftingcold: rgb(147,216,255);
    --poe-color-craftinglightning: rgb(248,203,118);
    --poe-color-craftingchaos: rgb(216,167,211);
    --poe-color-craftingspeed: rgb(207,238,165);
    --poe-color-craftingcrit: rgb(178,167,214);
    --poe-color-craftingred: rgb(200,103,110);
    --poe-color-craftingblue: rgb(162,207,251);
    --poe-color-craftinggreen: rgb(134,189,163);
    --poe-color-craftinglife: rgb(201,110,110);
    --poe-color-craftingdefences: rgb(168,143,103);
    --poe-color-craftingattack: rgb(218,129,77);
    --poe-color-heist: rgb(25,30,25);
    --poe-color-heiststolenitem: rgb(210,0,0);
    --poe-color-atlasmaven: rgb(182,12,169);
    --poe-color-ultimatumnumber: rgb(254,92,81);
    --poe-color-incursionunreachable: rgb(90,90,90);
    --poe-color-lockedinplaceitem: rgb(127,127,127);
    --poe-color-craftaffectremove: rgb(254,153,0);
    --poe-color-craftaffectwarning: rgb(235,200,80);
    --poe-color-craftaffectreroll: rgb(254,153,0);
    --poe-color-skillpopuptitle: rgb(249,230,202);
    --poe-color-disabledstats: rgb(150,150,167);
    --poe-color-skillextrainfo: rgb(255,192,119);
    --poe-color-fakeitemcount: rgb(200,200,200);
}

/* ===== Semantic text formatting, aka "text colors" ([[Template:C]]) ===== */
.tc {
    font-style: normal;
}

em.tc {
    font-style: normal;
}

    em.tc.-i {
        font-style: italic;
    }

.tc a {
    color: inherit !important;
}

.tc abbr {
    color: inherit;
}

.tc.-mod {
    font-family: "Fontin-SmallCaps", Verdana, Arial, Helvetica, sans-serif;
    font-variant-ligatures: none;
    color: var(--poe-color-augmented);
}

.tc.-default,
.tc.-stat {
    color: var(--poe-color-default);
}

.tc.-valuedefault,
.tc.-value {
    color: var(--poe-color-valuedefault);
}

.tc.-pink {
    color: var(--poe-color-pink);
}

.tc.-dodgerblue {
    color: var(--poe-color-dodgerblue);
}

.tc.-fire {
    color: var(--poe-color-fire);
}

.tc.-cold {
    color: var(--poe-color-cold);
}

.tc.-lightning {
    color: var(--poe-color-lightning);
}

.tc.-chaos {
    color: var(--poe-color-chaos);
}

.tc.-augmented {
    color: var(--poe-color-augmented);
}

.tc.-crafted,
.tc.-craft {
    color: var(--poe-color-crafted);
}

.tc.-fractured {
    color: var(--poe-color-fractured);
}

.tc.-enchanted {
    color: var(--poe-color-enchanted);
}

.tc.-unmet {
    color: var(--poe-color-unmet);
}

.tc.-uniqueitem {
    color: var(--poe-color-uniqueitem);
}

.tc.-unique {
    color: var(--poe-color-unique);
}

.tc.-rareitem {
    color: var(--poe-color-rareitem);
}

.tc.-rare {
    color: var(--poe-color-rare);
}

.tc.-magicitem {
    color: var(--poe-color-magicitem);
}

.tc.-magic {
    color: var(--poe-color-magic);
}

.tc.-whiteitem,
.tc.-white {
    color: var(--poe-color-whiteitem);
}

.tc.-normal {
    color: var(--poe-color-normal);
}

.tc.-gemitem {
    color: var(--poe-color-gemitem);
}

.tc.-gem,
.tc.-gemdesc {
    color: var(--poe-color-gem);
}

.tc.-currencyitem {
    color: var(--poe-color-currencyitem);
}

.tc.-currency,
.tc.-cosmetic {
    color: var(--poe-color-currency);
}

.tc.-questitem {
    color: var(--poe-color-questitem);
}

.tc.-quest {
    color: var(--poe-color-quest);
}

.tc.-nemesismod,
.tc.-nemesis {
    font-weight: bold;
    color: var(--poe-color-nemesismod);
    text-shadow: -1px -1px 0 var(--poe-color-nemesismodoutline), 1px -1px 0 var(--poe-color-nemesismodoutline), -1px 1px 0 var(--poe-color-nemesismodoutline), 1px 1px 0 var(--poe-color-nemesismodoutline);
}

.tc.-talismanmod {
    font-weight: bold;
    color: var(--poe-color-talismanmod);
    text-shadow: -1px -1px 0 var(--poe-color-talismanmodoutline), 1px -1px 0 var(--poe-color-talismanmodoutline), -1px 1px 0 var(--poe-color-talismanmodoutline), 1px 1px 0 var(--poe-color-talismanmodoutline);
}

.tc.-title {
    color: var(--poe-color-title);
}

.tc.-corrupted {
    color: var(--poe-color-corrupted);
}

.tc.-favour {
    color: var(--poe-color-favour);
}

.tc.-supporterpacknewitem {
    color: var(--poe-color-supporterpacknewitem);
}

.tc.-supporterpackitem {
    color: var(--poe-color-supporterpackitem);
}

.tc.-bloodlinemod,
.tc.-bloodline {
    font-weight: bold;
    color: var(--poe-color-bloodlinemod);
    text-shadow: -1px -1px 0 var(--poe-color-bloodlinemodoutline), 1px -1px 0 var(--poe-color-bloodlinemodoutline), -1px 1px 0 var(--poe-color-bloodlinemodoutline), 1px 1px 0 var(--poe-color-bloodlinemodoutline);
}

.tc.-tormentmod,
.tc.-torment {
    font-weight: bold;
    color: var(--poe-color-tormentmod);
    text-shadow: -1px -1px 0 var(--poe-color-tormentmodoutline), 1px -1px 0 var(--poe-color-tormentmodoutline), -1px 1px 0 var(--poe-color-tormentmodoutline), 1px 1px 0 var(--poe-color-tormentmodoutline);
}

.tc.-canttradeormodify {
    color: var(--poe-color-canttradeormodify);
}

.tc.-lockedtoaccount {
    color: var(--poe-color-lockedtoaccount);
}

.tc.-divination,
.tc.-card {
    color: var(--poe-color-divination);
}

.tc.-prophecy {
    color: var(--poe-color-prophecy);
}

.tc.-essencemod,
.tc.-essence {
    font-weight: bold;
    color: var(--poe-color-essencemod);
    text-shadow: -1px -1px 0 var(--poe-color-essencemodoutline), 1px -1px 0 var(--poe-color-essencemodoutline), -1px 1px 0 var(--poe-color-essencemodoutline), 1px 1px 0 var(--poe-color-essencemodoutline);
}

.tc.-premiumchat {
    font-weight: bold;
    color: var(--poe-color-premiumchat);
    text-shadow: -1px -1px 0 var(--poe-color-premiumchatoutline), 1px -1px 0 var(--poe-color-premiumchatoutline), -1px 1px 0 var(--poe-color-premiumchatoutline), 1px 1px 0 var(--poe-color-premiumchatoutline);
}

.tc.-uniquefoil,
.tc.-relic {
    color: var(--poe-color-uniquefoil);
}

.tc.-legacy {
    color: var(--poe-color-legacy);
}

.tc.-bestiarymod,
.tc.-bestiary {
    font-weight: bold;
    color: var(--poe-color-bestiarymod);
    text-shadow: -1px -1px 0 var(--poe-color-bestiarymodoutline), 1px -1px 0 var(--poe-color-bestiarymodoutline), -1px 1px 0 var(--poe-color-bestiarymodoutline), 1px 1px 0 var(--poe-color-bestiarymodoutline);
}

.tc.-blightmod,
.tc.-blight {
    font-weight: bold;
    color: var(--poe-color-blightmod);
    text-shadow: -1px -1px 0 var(--poe-color-blightmodoutline), 1px -1px 0 var(--poe-color-blightmodoutline), -1px 1px 0 var(--poe-color-blightmodoutline), 1px 1px 0 var(--poe-color-blightmodoutline);
}

.tc.-afflictionmod,
.tc.-deliriummod,
.tc.-delirium {
    font-weight: bold;
    color: var(--poe-color-afflictionmod);
    text-shadow: -1px -1px 0 var(--poe-color-afflictionmodoutline), 1px -1px 0 var(--poe-color-afflictionmodoutline), -1px 1px 0 var(--poe-color-afflictionmodoutline), 1px 1px 0 var(--poe-color-afflictionmodoutline);
}

.tc.-stackitemlevel {
    color: var(--poe-color-stackitemlevel);
}

.tc.-harvestprimary {
    color: var(--poe-color-harvestprimary);
}

.tc.-harvestsecondary {
    color: var(--poe-color-harvestsecondary);
}

.tc.-craftingcaster {
    color: var(--poe-color-craftingcaster);
}

.tc.-craftingphysical {
    color: var(--poe-color-craftingphysical);
}

.tc.-craftingfire {
    color: var(--poe-color-craftingfire);
}

.tc.-craftingcold {
    color: var(--poe-color-craftingcold);
}

.tc.-craftinglightning {
    color: var(--poe-color-craftinglightning);
}

.tc.-craftingchaos {
    color: var(--poe-color-craftingchaos);
}

.tc.-craftingspeed {
    color: var(--poe-color-craftingspeed);
}

.tc.-craftingcrit {
    color: var(--poe-color-craftingcrit);
}

.tc.-craftingred {
    color: var(--poe-color-craftingred);
}

.tc.-craftingblue {
    color: var(--poe-color-craftingblue);
}

.tc.-craftinggreen {
    color: var(--poe-color-craftinggreen);
}

.tc.-craftinglife {
    color: var(--poe-color-craftinglife);
}

.tc.-craftingdefences {
    color: var(--poe-color-craftingdefences);
}

.tc.-craftingattack {
    color: var(--poe-color-craftingattack);
}

.tc.-help {
    font-style: italic;
    color: var(--poe-color-default);
}

.tc.-flavour {
    font-style: italic;
    color: var(--poe-color-unique);
}

.tc.-hellscaped
.tc.-scourge {
    color: var(--poe-color-hellscaped);
}

.tc.-primal {
    color: cyan;
}

.tc.-vivid {
    color: yellow;
}

.tc.-wild {
    color: magenta;
}
/* Extra text colors. Used in legacy variant tables. */
.tc.-has {
    color: var(--poe-color-legacy);
}

.tc.-not {
    text-decoration: line-through;
    color: var(--poe-color-default);
}
