<div class="h-full flex flex-col">
    <div class="dark:bg-stone-900">
        @TopContent
    </div>
    <div class="grow overflow-y-auto overflow-x-hidden">
        @ChildContent
    </div>
    <div class="dark:bg-stone-900">
        @BottomContent
    </div>
</div>

@code {

    [Parameter]
    public RenderFragment? TopContent { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public RenderFragment? BottomContent { get; set; }

}
