<div class="h-full flex flex-col">
    <div class="dark:bg-stone-950">
        <AppBar>
            <AppMinimize/>
            <AppMaximize/>
            <AppClose/>
        </AppBar>
    </div>
    <div class="grow flex flex-nowrap items-stretch">
        <div class="relative overflow-auto min-w-48 z-10">
            <div class="absolute top-0 left-0 w-full h-full overflow-y-auto overflow-x-hidden dark:bg-stone-950">
                <SidekickMenu />
            </div>
        </div>
        <div class="h-full flex flex-col grow">
            <ConfigurationFlagError/>
            <div class="grow relative">
                <div class="absolute top-0 left-0 w-full h-full overflow-y-auto overflow-x-hidden">
                    @ChildContent
                </div>
            </div>
            <div>
                @BottomContent
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public RenderFragment? BottomContent { get; set; }

}
