<div class="h-full flex flex-col">
    <div class="dark:bg-stone-900">
        @TopContent
    </div>
    <div class="grow grid grid-cols-12 items-stretch">
        <div class="col-span-4 relative">
            <div class="absolute top-0 left-0 w-full h-full overflow-y-auto overflow-x-hidden dark:bg-stone-900">
                @LeftContent
            </div>
        </div>
        <div class="col-span-8 relative">
            <div class="absolute top-0 left-0 w-full h-full overflow-y-auto overflow-x-hidden">
                @ChildContent
            </div>
        </div>
    </div>
    <div class="dark:bg-stone-900">
        @BottomContent
    </div>
</div>

@code {

    [Parameter]
    public RenderFragment? TopContent { get; set; }

    [Parameter]
    public RenderFragment? LeftContent { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public RenderFragment? BottomContent { get; set; }

}
