<div
    class="divider [&+.divider]:hidden first:hidden last:hidden w-full border-b border-stone-800 @(Dense ? "my-2" : "my-4")"></div>

@code{

    [Parameter]
    public bool Dense { get; set; }

}