@page "/initialize"
@inherits SidekickView

<AppLogo/>

@if (Error)
{
    <AlertError>@Resources.Error</AlertError>
}
else
{
    <div class="p-3">
        <Heading5 Class="mb-1 text-center">@Step</Heading5>
        @if (Count != Completed)
        {
            <ProgressBar Percent="Percentage"/>
        }
        else
        {
            <Heading6 Class="text-center">
                @WelcomeMessage
            </Heading6>
        }
    </div>
}

<div class="flex justify-center mt-2">
    @if (Count != Completed)
    {
        <ButtonPrimary OnClick="Exit">
            @Resources.Exit
        </ButtonPrimary>
    }
    else
    {
        <ButtonPrimary OnClick="CurrentView.Close">
            @Resources.Close
        </ButtonPrimary>
    }
</div>
