@page "/initialize"
@inherits Sidekick.Common.Ui.Views.SidekickView

<AppTitle Title="@null"/>
<LayoutSimple>
    <TopContent>
        <AppLogo/>
    </TopContent>

    <ChildContent>
        <AppFullContainer>
            <Heading3 Class="mb-2 text-center">@Step</Heading3>
            <ProgressBar Percent="Percentage"/>
        </AppFullContainer>
    </ChildContent>

    <BottomContent>
        <div class="px-3 py-2 flex justify-center gap-2">
            <ButtonPrimary OnClick="Exit">
                @Resources["Exit"]
            </ButtonPrimary>
        </div>
    </BottomContent>
</LayoutSimple>
