<div class="dark:bg-stone-950 flex items-center flex-wrap py-2 pl-4">
    <img src="/images/orbs/ExaltedOrb.png" class="w-6 h-6"/>
    <h1 class="font-medium leading-none text-lg ml-4">
        <span id="sidekick-appbar-title">@CurrentView.Title</span>
    </h1>

    <div class="ml-auto -my-2 flex items-center flex-nowrap">
        <AppUpdate />
        <AppHome />
        @ChildContent
    </div>
</div>

@implements IDisposable
@inject ICurrentView CurrentView

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    protected override void OnInitialized()
    {
        CurrentView.ViewChanged += CurrentViewOnViewChanged;
        base.OnInitialized();
    }

    private void CurrentViewOnViewChanged(ICurrentView obj)
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        CurrentView.ViewChanged -= CurrentViewOnViewChanged;
    }

}
