<button type="button"
        @onclick="OnClick"
        @onclick:preventDefault="true"
        @onclick:stopPropagation="true"
        tabindex="-1"
        title="Close"
        class="p-2 text-base font-medium tracking-wide text-white transition-colors duration-200 bg-red-900 hover:bg-red-700">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 h-6 fill-current">
        <path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"/>
    </svg>
</button>

@inject IViewLocator ViewLocator
@inject ICurrentView CurrentView

@code {

    private async Task OnClick()
    {
        if (CurrentView.Current == null)
        {
            return;
        }

        await ViewLocator.Close(CurrentView.Current);
    }

}
