
<div class="flex justify-center items-center bg-stone-900 p-3">
    <img src="/images/orbs/ExaltedOrb.png" class="w-12 h-12" />
    <Heading1 Class="font-caps ml-4 text-white">Sidekick</Heading1>
</div>
