
<button type="button"
        @onclick="OpenSettings"
        @onclick:preventDefault="true"
        @onclick:stopPropagation="true"
        tabindex="-1"
        title="Open Settings"
        class="flex items-center p-2 border-l text-white transition-colors duration-200 border-stone-700 bg-stone-950 hover:bg-stone-700 hover:border-stone-600">
    <Icon Svg="@UiIcons.Settings" Size="@UiIconSize.Medium" />
</button>

@inject ICurrentView CurrentView
@inject IViewLocator ViewLocator

@code {

    [Parameter]
    public required string Href { get; set; }

    private void OpenSettings()
    {
        CurrentView.Close();
        ViewLocator.Open(SidekickViewType.Standard, Href);
    }

}
