@using Microsoft.AspNetCore.Components.Sections

<ErrorFullScreenBoundary>
    <div class="font-sans w-full h-screen overflow-y-auto overflow-x-hidden dark:bg-stone-900 text-white text-base">
        @ChildContent
    </div>

    <div class="font-sans text-base">
        <SectionOutlet SectionName="sidekick-overlay"/>
    </div>
</ErrorFullScreenBoundary>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

}
