@using Microsoft.EntityFrameworkCore
@using Sidekick.Common.Database
@using Sidekick.Common.Settings
@using Sidekick.Modules.Wealth.Provider
@using Sidekick.Modules.Wealth.Localization

<div class="flex flex-wrap items-center justify-end gap-2 mb-3">
    @if (LastUpdated != null && LastUpdated != DateTimeOffset.MinValue)
    {
        <div class="flex items-center flex-nowrap justify-end gap-1">
            <TextCaption>@Resources["Last_Updated"]:</TextCaption>
            <TextAge Date="LastUpdated"/>
        </div>
    }

    <WealthSettings/>
</div>

@inject IStringLocalizer<WealthResources> Resources
@inject WealthProvider WealthProvider
@inject DbContextOptions<SidekickDbContext> DbContextOptions
@inject ISettingsService SettingsService
@implements IDisposable

@code {

    private DateTimeOffset? LastUpdated { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var leagueId = await SettingsService.GetString(SettingKeys.LeagueId);
        await using var database = new SidekickDbContext(DbContextOptions);
        LastUpdated = await database.WealthFullSnapshots.Where(x => x.League == leagueId).Select(x => x.Date).OrderByDescending(x => x).FirstOrDefaultAsync();

        WealthProvider.OnStatusChanged += WealthStatusChanged;
        await base.OnInitializedAsync();
    }

    private void WealthStatusChanged()
    {
        InvokeAsync(() =>
        {
            LastUpdated = DateTimeOffset.Now;
            StateHasChanged();
        });
    }

    public void Dispose()
    {
        WealthProvider.OnStatusChanged -= WealthStatusChanged;
    }

}
