@page "/wealth"
@layout MainWindowLayout
@using Sidekick.Common.Extensions
@using Sidekick.Common.Game
@using Sidekick.Common.Settings
@using Sidekick.Common.Blazor.Components
@using Sidekick.Common.Platform
@using Sidekick.Modules.Wealth.Tabs
@using Sidekick.Modules.Wealth.Authentication
@using Sidekick.Modules.Wealth.Components

@if (!ApplicationService.SupportsKeybinds)
{
    <AlertError>Wealth Tracker is not supported in the web version of Sidekick.</AlertError>
    return;
}

@if (Game == GameType.PathOfExile2)
{
    <AlertError>Wealth Tracker is only supported in Path of Exile 1 at the moment.</AlertError>
    return;
}

<AppContainer>
    <div class="flex items-center gap-2 mb-3">
        <Heading1>Wealth Tracker</Heading1>
        <div class="grow"></div>
        <AuthenticationStatus/>
    </div>
    <div class="flex flex-nowrap gap-3">
        <div class="min-w-64 w-64 max-w-64">
            <WealthTabs/>
        </div>
        <div class="flex-1">
            <WealthStatus/>
            <div class="h-2"></div>
            <WealthItems/>
        </div>
    </div>
</AppContainer>

@inject ISettingsService SettingsService
@inject ICurrentView CurrentView
@inject IApplicationService ApplicationService

@code {

    private GameType Game { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CurrentView.Initialize(new ViewOptions());

        var leagueId = await SettingsService.GetString(SettingKeys.LeagueId);
        Game = leagueId.GetGameFromLeagueId();

        await base.OnInitializedAsync();
    }

}
