@page "/wealth"
@using Sidekick.Apis.Poe.Extensions
@using Sidekick.Apis.Poe.Models
@using Sidekick.Common.Settings
@using Sidekick.Common.Platform
@using Sidekick.Modules.Wealth.Tabs
@using Sidekick.Modules.Wealth.Items
@using Sidekick.Modules.Wealth.Graphs
@using Sidekick.Modules.Wealth.Localization

<LayoutMenu>
    @if (!ApplicationService.SupportsKeybinds)
    {
        <AlertError>@Resources["Not_Supported_Web"]</AlertError>
        return;
    }

    @if (Game == GameType.PathOfExile2)
    {
        <AlertError>@Resources["Not_Supported_Game"]</AlertError>
        return;
    }

    <AppContainer>
        <div class="flex items-center gap-2 mb-3">
            <Heading1>@Resources["Wealth_Tracker"]</Heading1>
            <div class="grow"></div>
            <WealthToolbar/>
        </div>
        <div class="grid grid-cols-2 gap-3 mb-3">
            <StashesOverTime/>
            <WealthOverTime/>
        </div>
        <div class="flex flex-nowrap gap-3">
            <div class="min-w-64 w-64 max-w-64">
                <WealthTabs/>
            </div>
            <div class="flex-1">
                <WealthItems/>
            </div>
        </div>
    </AppContainer>
</LayoutMenu>

@inject IStringLocalizer<WealthResources> Resources
@inject ISettingsService SettingsService
@inject ICurrentView CurrentView
@inject IApplicationService ApplicationService

@code {

    private GameType Game { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CurrentView.Initialize(new ViewOptions());
        Game = await SettingsService.GetGame();

        await base.OnInitializedAsync();
    }

}
