@page "/wealth"
@layout MainWindowLayout
@using Sidekick.Common.Extensions
@using Sidekick.Common.Game
@using Sidekick.Common.Settings
@using Sidekick.Modules.Wealth.Components
@using Sidekick.Common.Blazor.Components

@if (Game == GameType.PathOfExile2)
{
    <AlertError>Wealth Tracker is only supported in Path of Exile 1 at the moment.</AlertError>
    return;
}

<AppFullContainer>
    <div class="grid grid-cols-12 gap-3">
        <div class="col-span-3">
            <Heading3>Stash Tabs</Heading3>
            <WealthTabs/>
        </div>
    </div>
</AppFullContainer>

@inject ISettingsService SettingsService
@inject ICurrentView CurrentView

@code {

    private GameType Game { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CurrentView.Initialize(new ViewOptions());

        var leagueId = await SettingsService.GetString(SettingKeys.LeagueId);
        Game = leagueId.GetGameFromLeagueId();

        await base.OnInitializedAsync();
    }

}
