@page "/wealth"
@inherits SidekickView
@using Sidekick.Modules.Wealth.Components

@if (!Settings.Enable_WealthTracker)
{
    <MudAlert Severity="Severity.Warning" Elevation="5">
        Wealth Tracker is an experimental feature and requires special privileges. To use the Wealth Tracker feature, you must enable it in the settings first.
        <div class="d-flex justify-center mt-3">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Href="/settings/wealth">Open Settings</MudButton>
        </div>
    </MudAlert>
}
else
{
    <div class="d-flex flex-grow-1 gap-4">
        <MudPaper Class="flex-none d-flex py-8" Elevation="0" Width="650px" Height="1px;">
            <MudCard Width="100%" Height="800px">
                <MudCardContent Style="height: 100%;">
                    <WealthOverTime />
                    <WealthInventory />
                </MudCardContent>
                <MudCardActions>
                    @if (WealthParser.IsRunning())
                    {
                        <MudAlert Dense="true" Style="width: 205px;" Variant="Variant.Filled" Severity="Severity.Success">Parser Running</MudAlert>
                    }
                    else
                    {
                        <MudAlert Dense="true" Style="width: 205px;" Variant="Variant.Filled" Severity="Severity.Error">Parser Stopped</MudAlert>
                    }
                </MudCardActions>
            </MudCard>
        </MudPaper>
        <MudPaper Class="flex-none d-flex py-8" Elevation="0" Width="270px" Height="1px;">
            <MudCard Width="100%" Height="800px">
                <MudCardContent Style="height: 100%;">
                    <WealthDistribution />
                    <WealthParserLogs />
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Filled" Class="pr-5" Style="margin-left:100px;" Color="Color.Primary" OnClick="Start">Start</MudButton>
                    <MudButton Variant="Variant.Filled" Class="pr-5" Style="margin-left:10px;" Color="Color.Primary" OnClick="Stop">Stop</MudButton>
                </MudCardActions>
            </MudCard>
        </MudPaper>
    </div>
}

@inject WealthParser WealthParser
@inject ISettings Settings
@code {
    public override string Title => "Wealth Tracker";

    public override int ViewWidth => 1280;

    public override int ViewHeight => 800;

    private void Start()
    {
        WealthParser.Start();
        StateHasChanged();
    }

    private void Stop()
    {
        WealthParser.Stop();
        StateHasChanged();
    }
}
