@page "/wealth"
@layout MainWindowLayout
@using Sidekick.Common.Extensions
@using Sidekick.Common.Game
@using Sidekick.Common.Settings
@using Sidekick.Common.Blazor.Components
@using Sidekick.Modules.Wealth.Tabs
@using Sidekick.Common.Blazor.Authentication

@if (Game == GameType.PathOfExile2)
{
    <AlertError>Wealth Tracker is only supported in Path of Exile 1 at the moment.</AlertError>
    return;
}

<AppFullContainer>
    <div class="flex items-center mb-2">
        <AuthenticationStatusBar/>
    </div>
    <div class="flex flex-nowrap">
        <div class="flex-1 w-64">
            <WealthTabs/>
        </div>
        <div class="grow">
            Test
        </div>
    </div>
</AppFullContainer>

@inject ISettingsService SettingsService
@inject ICurrentView CurrentView

@code {

    private GameType Game { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CurrentView.Initialize(new ViewOptions());

        var leagueId = await SettingsService.GetString(SettingKeys.LeagueId);
        Game = leagueId.GetGameFromLeagueId();

        await base.OnInitializedAsync();
    }

}
