@page "/settings/wealth"
@using Sidekick.Common.Blazor.Settings.Components
@using Sidekick.Common.Settings
@using Sidekick.Common.Blazor.Authentication
@using Sidekick.Common.Blazor.Components
@using Sidekick.Common.Blazor.Settings
@layout MainWindowLayout

<AuthenticationStatusBar/>

<AppContainer>
    <Heading2 Class="mb-3">Wealth Tracker</Heading2>
    <TextBase>
        The Sidekick Wealth Tracker is meant to help players track their overall wealth progress over time.
    </TextBase>

    <LayoutDivider/>

    <Heading2 Class="mb-3">Beta Feature!</Heading2>
    <TextBase>Wealth Tracker is an experimental feature and development is still ongoing. Feel free to provide feedback
        on our Discord server or on Github.
    </TextBase>

    <LayoutDivider/>

    <Heading2 Class="mb-3">Authentication Process</Heading2>
    <TextBase Class="mb-1">Sidekick is registered with GGG to allow the use of the Path Of Exile API.</TextBase>

    <ul class="text-gray-500 list-disc dark:text-gray-400 mb-1 ml-6">
        <li>Sidekick will request administrative access on your computer. Sidekick needs this to securely receive Oauth
            data from GGG.
        </li>
        <li>You will then be asked to authenticate on Path of Exile' website.</li>
        <li>You will be asked to authorize the Sidekick application.</li>
    </ul>

    <TextCaption>
        Read more information from the Path of Exile developer website.
        <a href="https://www.pathofexile.com/developer/docs/authorization">https://www.pathofexile.com/developer/docs/authorization</a>
    </TextCaption>

    <LayoutDivider/>

    <Heading2 Class="mb-3">@Resources["Keybindings"]</Heading2>
    <SettingKeybindEditor SettingKey="@SettingKeys.KeyOpenWealth" Label="@Resources["Wealth_Key_Open"]"/>

    <LayoutDivider/>

    <Heading2 Class="mb-3">@Resources["Stash Tabs"]</Heading2>

</AppContainer>

@inject IStringLocalizer<SettingsResources> Resources
