.boss-frame-wrapper {
    width: 19rem;
    margin: 0 auto;
}

.boss-frame {
    background-image: url("/images/items/boss_frame.png");
    background-size: contain;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 21.75%;
}

.name {
    position: absolute;
    top: 30%;
    left: 15%;
    right: 15%;
    height: 40%;
    text-align: center;
    color: #E7822D;
    font-size: 1rem;
    line-height: 0.8;
}
