<div class="boss-frame-wrapper">
    <div class="boss-frame">
        <div class="name font-smallcaps d-flex align-center justify-center">@Name</div>
    </div>
</div>

@code {
    [Parameter]
    public string? Name { get; set; }
}
