.divination-card-wrapper {
    width: 19rem;
    margin: 0 auto;
}

.divination-card {
    background-image: url("/images/items/divination_card_mini.png");
    background-size: contain;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 40.68%;
}

.name {
    position: absolute;
    top: 10%;
    left: 15%;
    right: 15%;
    height: 20%;
    text-align: center;
    color: #030301;
    font-size: 1rem;
    line-height: 0.8;
}

.description {
    position: absolute;
    top: 35%;
    left: 10%;
    right: 10%;
    height: 50%;
    text-align: center;
    color: #ffffff;
    font-size: 0.9rem;
    line-height: 1;
}
