<div class="divination-card-wrapper">
    <div class="divination-card">
        <div class="name font-smallcaps d-flex align-center justify-center">@Name</div>
        @if (!string.IsNullOrEmpty(Description))
        {
            <div class="description font-smallcaps d-flex align-center justify-center">
                <div>
                    @((MarkupString)Description)
                </div>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public string? Name { get; set; }

    [Parameter]
    public string? Description { get; set; }
}
