@using Sidekick.Common.Game.Items.Modifiers
<span class="@Class font-smallcaps">@Text</span>

@code {
    [Parameter] public string Text { get; set; }
    [Parameter] public ModifierCategory? Category { get; set; }

    private string Class => Category switch
    {
        ModifierCategory.Scourge => "scourge-text",
        ModifierCategory.Fractured => "fractured-text",
        ModifierCategory.Enchant => "enchant-text",
        ModifierCategory.Crafted => "crafted-text",
        _ => "",
    };
}
