
<div class="font-smallcaps">
    @Label
    @if (OnlyShowLabel == false)
    {
        <span>: </span><span style="color:#FFFFFF;">@Value</span>
    }
</div>

@code {
    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public string Value { get; set; }

    [Parameter]
    public bool OnlyShowLabel { get; set; }
}
