@using Sidekick.Common.Game.Items

<span>
    <MudChip Size="Size.Small"
             Class="@Category.ToString()">
        @Category
        @if (Arrow)
        {
            <MudIcon Icon="@Icons.Material.Filled.ArrowDropDown" Size="Size.Small" />
        }
    </MudChip>
</span>

@code {
    [Parameter]
    public ModifierCategory? Category { get; set; }

    [Parameter]
    public bool Arrow { get; set; }

    private string Class => Category switch
    {
        ModifierCategory.Scourge => "scourge-text",
        ModifierCategory.Fractured => "fractured-text",
        ModifierCategory.Enchant => "enchant-text",
        ModifierCategory.Crafted => "crafted-text",
        _ => "",
    };
}
