
<span class="font-smallcaps">
    @Label:
    <span style="color:#FFFFFF;">@Value</span>
</span>

@code {
    [Parameter] public string Label { get; set; }

    [Parameter] public object Value { get; set; }
}
