<div class="font-caps ">
    @Label
    @if (OnlyShowLabel == false)
    {
        <span class="text-[#7f7f7f]">: </span>
        <span class="text-white">@Value</span>
    }
</div>

@code {

    [Parameter]
    public string? Label { get; set; }

    [Parameter]
    public string? Value { get; set; }

    [Parameter]
    public bool OnlyShowLabel { get; set; }

}
