@using Sidekick.Common.Game.Items

<span>
    <MudChip Size="Size.Small"
             Class="@Category.ToString()"
             OnClick="OnClick">
        @if (ShowCheckbox)
        {
            if (Checked)
            {
                <MudIcon Icon="@Icons.Material.Filled.CheckBox" Size="Size.Small" />
            }
            else
            {
                <MudIcon Icon="@Icons.Material.Filled.CheckBoxOutlineBlank" Size="Size.Small" />
            }
        }
        @Category
        @if (ShowArrow)
        {
            <MudIcon Icon="@Icons.Material.Filled.ArrowDropDown" Size="Size.Small" />
        }
    </MudChip>
</span>

@code {
    [Parameter]
    public ModifierCategory? Category { get; set; }

    [Parameter]
    public bool ShowArrow { get; set; }

    [Parameter]
    public bool ShowCheckbox { get; set; }

    [Parameter]
    public bool Checked { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

    private string Class => Category switch
    {
        ModifierCategory.Scourge => "scourge-text",
        ModifierCategory.Fractured => "fractured-text",
        ModifierCategory.Enchant => "enchant-text",
        ModifierCategory.Crafted => "crafted-text",
        _ => "",
    };
}
