@using Sidekick.Common.Game.Items

<div class="relative py-0 px-[7px] @BackgroundClass">
    @ChildContent(this)
</div>

@code {
    [Parameter]
    public Rarity Rarity { get; set; }

    [Parameter]
    public bool IsRelic { get; set; }

    [Parameter]
    public bool Double { get; set; }

    [Parameter]
    public RenderFragment<ItemHeaderBackground> ChildContent { get; set; } = null!;

    private string BackgroundClass
    {
        get
        {
            if (IsRelic)
            {
                if (!Double)
                {
                    return "header-relic";
                }

                return "header-double-relic";
            }

            switch (Rarity)
            {
                case Rarity.Currency: return "header-currency";
                case Rarity.Magic: return "header-magic";
                case Rarity.Gem: return "header-gem";
                case Rarity.Rare:
                    if (!Double)
                    {
                        return "header-rare";
                    }
                    return "header-double-rare";
                case Rarity.Unique:
                    if (!Double)
                    {
                        return "header-unique";
                    }
                    return "header-double-unique";
                default: return "header-normal";
            }
        }
    }

    public string LabelClass => Rarity switch
    {
        Rarity.Currency => "text-[#AA9E82]",
        Rarity.Magic => "text-[#8888FF]",
        Rarity.Rare => "text-[#FFFF77]",
        Rarity.Unique => "text-[#AF6025]",
        Rarity.Gem => "text-[#1BA29B]",
        _ => "text-[#C8C8C8]",
    };
}
