@using Sidekick.Common.Game.Items

<span class="@GetCssClass()">@($"{Range.Min:F0}-{Range.Max:F0}")</span>

@code {
    [Parameter]
    public required DamageRange Range { get; set; }

    private string GetCssClass() => Range.Type switch
    {
        DamageType.Fire => "fire-damage",
        DamageType.Cold => "cold-damage",
        DamageType.Lightning => "lightning-damage",
        _ => string.Empty
    };
} 