<div class="duration-200 transition-colors bg-transparent hover:bg-stone-800 px-2 py-0.5 leading-none">
    @ChildContent
</div>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

}
