@if (!string.IsNullOrEmpty(Min) || !string.IsNullOrEmpty(Max))
{
    <span class="font-smallcaps ml-3" style="white-space:nowrap;">
        @if (!string.IsNullOrEmpty(Min) && string.IsNullOrEmpty(Max))
        {
            @:&gt; @Min
        }
        else if (string.IsNullOrEmpty(Min) && !string.IsNullOrEmpty(Max))
        {
            @:&lt; @Max
        }
        else
        {
            @Min @:- @Max
        }
    </span>
}

@code {
    [Parameter] public string Min { get; set; }
    [Parameter] public string Max { get; set; }
}
