<div class="duration-200 transition-colors bg-transparent hover:bg-stone-800 px-2 py-0.5 mb-1">
    <div class="flex items-center">
        @ChildContent
    </div>
</div>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

}
