@using Sidekick.Apis.Poe.Trade.Models
@using Sidekick.Apis.PoeWiki
@using Sidekick.Common.Game.Items
@using Sidekick.Common.Game.Languages
@using Sidekick.Common.Settings
@using Sidekick.Modules.Trade.Localization

<FilterWrapper>
    <div class="flex flex-nowrap items-center">
        <div class="grow">
            <FormCheckbox Value="Filter.Checked ?? false"
                          NoMargin="true"
                          ValueChanged="CheckedChanged">
                <ItemModifierText Class="text-left"
                                  Category="Filter.Line.Modifiers.FirstOrDefault()?.Category">@Filter.Line.Text</ItemModifierText>
            </FormCheckbox>
        </div>

        @if (EnchantmentOilNames?.Any() ?? false)
        {
            <OilAnointment OilNames="EnchantmentOilNames"/>
        }

        <div class="flex flex-col items-end justify-between">
            @if (Filter is
                 {
                     Checked: true,
                     HasMoreThanOneCategory: true
                 }
                 && Filter.FirstCategory != ModifierCategory.Explicit)
            {
                <TooltipTopRight>
                    <ChildContent>
                        <ItemModifierCategoryChip Category="Filter.FirstCategory"
                                                  Checked="Filter.ForceFirstCategory"
                                                  ShowCheckbox="true"
                                                  OnClick="() => Filter.ForceFirstCategory = !Filter.ForceFirstCategory"/>
                    </ChildContent>
                    <TooltipContent>
                        @Resources["Selecting this checkbox will force this specific category in the results. Unchecking allows for all modifier categories in the results (explicit, crafted, fractured, etc.)."]
                    </TooltipContent>
                </TooltipTopRight>
            }

            <div class="h-[2px]"></div>

            @if ((Filter.Checked ?? false) && Filter.Line.HasValues)
            {
                <FilterRange @bind-Min="@Filter.Min" @bind-Max="@Filter.Max" TypeChanged="TypeChanged"/>
            }
        </div>
    </div>
</FilterWrapper>

@inject IStringLocalizer<TradeResources> Resources
@inject IPoeWikiClient PoeWikiClient
@inject IGameLanguageProvider GameLanguageProvider
@inject ISettingsService SettingsService

@code {

    [CascadingParameter]
    public required ModifierFilter Filter { get; set; }

    private List<string>? EnchantmentOilNames { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Filter.Line.Modifiers.FirstOrDefault()
                  ?.Category
            == ModifierCategory.Enchant
            && GameLanguageProvider.IsEnglish())
        {
            var oilMetadataIds = await PoeWikiClient.GetOilsMetadataIdsFromEnchantment(Filter.Line);
            if (oilMetadataIds != null)
            {
                EnchantmentOilNames = oilMetadataIds
                                      .Select(x => PoeWikiClient.BlightOilNamesByMetadataIds[x])
                                      .ToList();
            }
        }
    }

    private async void CheckedChanged(bool value)
    {
        Filter.Checked = value;

        // We can change the settings in the Trade window, so we should fetch here every time.
        Filter.NormalizeValue = await SettingsService.GetObject<double>(SettingKeys.PriceCheckNormalizeValue);
        Filter.NormalizeMinValue();
    }

    private void TypeChanged(FilterRange.RangeType type)
    {
        switch (type)
        {
            case FilterRange.RangeType.Minimum:
                Filter.NormalizeMinValue();
                Filter.Max = null;
                break;

            case FilterRange.RangeType.Maximum:
                Filter.NormalizeMaxValue();
                Filter.Min = null;
                break;

            case FilterRange.RangeType.Equals:
                Filter.SetExactValue();
                break;

            case FilterRange.RangeType.Range:
                Filter.NormalizeMinValue();
                Filter.NormalizeMaxValue();
                break;
        }
    }

}
