.filter {
    transition: background ease .3s;
}

    .filter:hover {
        background: rgba(255, 255, 255, 0.15);
    }

::deep .filter-min,
::deep .filter-max {
    width: 6em;
}

    ::deep .filter-min .mud-input-outlined-border {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    ::deep .filter-max .mud-input-outlined-border {
        border-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
