
<div class="d-flex filter">
    <div class="flex-grow-1">
        <MudCheckBox @bind-Checked="Filter.Enabled"
                     Color="Color.Primary"
                     Dense="true"
                     Size="Size.Small"
                     TriState="Filter.ValueType == FilterValueType.Boolean">
            <div class="d-flex align-center">
                <ItemPropertyText Label="@Filter.Text"
                                  Value="@Filter.Value.ToString()"
                                  OnlyShowLabel="Filter.ValueType == FilterValueType.Boolean" />
            </div>
        </MudCheckBox>
    </div>

    @if ((Filter.Enabled ?? false) && HasValueFilters)
    {
        <FilterRange @bind-Min="@Filter.Min" @bind-Max="@Filter.Max" OnChanged="StateHasChanged" />
    }
</div>

@code {
    [Inject] public TradeResources Resources { get; set; }

    [Parameter] public PropertyFilter Filter { get; set; }

    private bool HasValueFilters => Filter.ValueType == FilterValueType.Double || Filter.ValueType == FilterValueType.Int;
}
