@using Sidekick.Apis.Poe.Trade.Models
@using Sidekick.Common.Game.Items
@using Sidekick.Modules.Trade.Localization
@using Microsoft.Extensions.Localization
@using Sidekick.Common.Ui.Forms
@using Sidekick.Common.Ui.Poe.Items
@using Sidekick.Common.Ui.Buttons

<FilterWrapper>
    <div class="flex flex-nowrap items-center">
        <div class="grow">
            <FormCheckbox Value="Filter.Enabled ?? false"
                         NoMargin="true"
                         ValueChanged="(v) => Filter.Enabled = v">
                <ItemPropertyText Label="@Filter.Modifier.Text"
                                Value="@GetModifierValue()" />
            </FormCheckbox>
        </div>

        @if ((Filter.Enabled ?? false) && Filter.Modifier.HasValue)
        {
            <FilterRange @bind-Min="Filter.Min" 
                        @bind-Max="Filter.Max" 
                        TypeChanged="TypeChanged" />
        }
    </div>
</FilterWrapper>

@code {
    [Parameter]
    public required PseudoModifierFilter Filter { get; set; }

    private void TypeChanged(FilterRange.RangeType type)
    {
        switch (type)
        {
            case FilterRange.RangeType.Minimum:
                Filter.NormalizeMinValue();
                Filter.Max = null;
                break;

            case FilterRange.RangeType.Maximum:
                Filter.NormalizeMaxValue();
                Filter.Min = null;
                break;

            case FilterRange.RangeType.Equals:
                Filter.SetExactValue();
                break;

            case FilterRange.RangeType.Range:
                Filter.NormalizeMinValue();
                Filter.NormalizeMaxValue();
                break;
        }
    }

    private string GetModifierValue()
    {
        return Filter.Modifier.Value.ToString("0.0");
    }
}
