@using Sidekick.Common.Blazor.Settings
@using Sidekick.Common.Ui.Popovers
@using Sidekick.Modules.Trade.Settings

<div class="relative">
    <ButtonIcon OnClick="() => Visible = !Visible">
        <Icon Svg="@UiIcons.Adjustments" Size="@UiIconSizes.Large" />
    </ButtonIcon>
    <Popover @bind-Visible="Visible">
        <PriceCheckStatusEditor/>
        <PriceCheckItemCurrencyEditor/>
        <FormFieldset Legend="@Resources["Item_Trade_Settings"]"
                      Dense="true">
            <PriceCheckItemMinMaxPriceEditor/>
            <PriceCheckItemListedAgeEditor/>
        </FormFieldset>
        <FormFieldset Legend="@Resources["Bulk_Trade_Settings"]"
                      Dense="true">
            <PriceCheckBulkMinimumStockEditor/>
        </FormFieldset>
    </Popover>
</div>

@inject IStringLocalizer<SettingsResources> Resources

@code {

    private bool Visible { get; set; }

}
