#blazor-error-ui,
.blazor-error {
    color: #fff;
    font-size: 1.5rem;
    background: var(--mud-palette-error);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

    #blazor-error-ui .content,
    .blazor-error .content {
        display: flex !important;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 1rem;
        flex-direction: column;
    }

    #blazor-error-ui .reload,
    .blazor-error .reload {
        background: #fff;
        color: var(--mud-palette-error);
        padding: 1rem 2rem;
        margin: 1rem;
    }

    #blazor-error-ui .dismiss,
    .blazor-error .dismiss {
        background: #fff;
        color: var(--mud-palette-error);
        padding: 1rem;
        top: 1rem;
        right: 1rem;
    }

#components-reconnect-modal {
    position: sticky !important;
    height: 150px !important;
    opacity: 1 !important;
    background-color: var(--mud-palette-background) !important;
}

@font-face {
    font-family: 'fontin';
    src: url("/fonts/fontin-bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'fontin';
    src: url("/fonts/fontin-italic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'fontin';
    src: url("/fonts/fontin-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fontin-smallcaps';
    src: url("/fonts/fontin-smallcaps-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 12px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-justify {
    text-align: justify;
}

.font-smallcaps {
    font-family: 'fontin-smallcaps';
}

.mud-container {
    padding: 12px;
}

.mud-card {
    margin-bottom: 12px;
}

.mud-card-content {
    padding: 4px 12px 8px 12px;
}

.mud-card-header {
    padding: 8px 12px 4px 12px;
}

body {
    height: 100%;
    overflow: hidden;
}
