@using Sidekick.Apis.Poe.Items
@using Sidekick.Data.Items
@using Sidekick.Modules.Items.AreaInformation.Localization

<Heading2 Class="mb-2">@Resources["Title"]</Heading2>

<RegexSettings/>
<div class="h-2"></div>
<AreaCheck/>

@* Currently unused after changes made in Path of Exile 3.28. The update removed maps being tied to specific areas
@if (Item.Game == GameType.PathOfExile1)
{
    <ItemSeparator Rarity="Item.Properties.Rarity"/>
    <PoeWikiMapInfo Text="@Item.ApiInformation.InvariantText"/>
}
*@

@inject IStringLocalizer<AreaResources> Resources

@code {

    [CascadingParameter]
    public required Item Item { get; set; }

}
