@if (TradeService.CurrentMode != TradeMode.Bulk || TradeService.BulkTradeResult == null)
{
    return;
}

<div class="flex items-center w-full justify-between">
    <div>
        <CountString Count="TradeService.BulkTradeResult.Offers.Count"
                     Total="TradeService.BulkTradeResult.TotalOffers"/>
    </div>
    <OpenWebsiteLink QueryId="@TradeService.BulkTradeResult.QueryId"/>
</div>

@implements IDisposable

@inject TradeService TradeService

@code {

    protected override async Task OnInitializedAsync()
    {
        TradeService.Changed += StateHasChanged;
        await base.OnInitializedAsync();
    }

    public void Dispose()
    {
        TradeService.Changed -= StateHasChanged;
    }

}
