@using Sidekick.Apis.Poe.Extensions
@using Sidekick.Apis.Poe.Models
@using Sidekick.Apis.Poe.Trade.Trade.Requests
@using Sidekick.Modules.Trade.Localization
@using Sidekick.Common.Settings

<FormFieldset Legend="@Resources["Player_Status"]"
              Dense="true">
    <div class="flex flex-wrap items-center gap-2">
        @foreach (var option in Options)
        {
            <FormCheckbox Value="option.Value == Value"
                          Dense="true"
                          ValueChanged="@(() => ValueChanged(option.Value))">@option.Label</FormCheckbox>
        }
    </div>
</FormFieldset>

@inject IStringLocalizer<TradeResources> Resources
@inject ISettingsService SettingsService
@implements IDisposable

@code {

    private string? Value { get; set; }

    private List<SelectOption> Options { get; set; } = new();

    private string SettingKey { get; set; } = SettingKeys.PriceCheckStatusPoE1;

    protected override async Task OnInitializedAsync()
    {
        var game = await SettingsService.GetGame();
        SettingKey = game == GameType.PathOfExile ? SettingKeys.PriceCheckStatusPoE1 : SettingKeys.PriceCheckStatusPoE2;

        Value = await SettingsService.GetString(SettingKey);
        SettingsService.OnSettingsChanged += OnSettingsChanged;

        if (game == GameType.PathOfExile2)
        {
            Options =
            [
                new()
                {
                    Label = Resources["Player_Status_Available"],
                    Value = Status.Available,
                },
                new()
                {
                    Label = Resources["Player_Status_Securable"],
                    Value = Status.Securable,
                },
                new()
                {
                    Label = Resources["Player_Status_Online"],
                    Value = Status.Online,
                },
                new()
                {
                    Label = Resources["Player_Status_Any"],
                    Value = Status.Any,
                },
            ];
        }
        else
        {
            Options =
            [
                new()
                {
                    Label = Resources["Player_Status_Online"],
                    Value = Status.Online,
                },
                new()
                {
                    Label = Resources["Player_Status_OnlineLeague"],
                    Value = Status.OnlineLeague,
                },
                new()
                {
                    Label = Resources["Player_Status_Any"],
                    Value = Status.Any,
                },
            ];
        }

        await base.OnInitializedAsync();
    }

    private async Task ValueChanged(string? value)
    {
        Value = value;
        await SettingsService.Set(SettingKey, value);
    }

    private async void OnSettingsChanged(string[] keys)
    {
        if (!keys.Contains(SettingKey)) return;

        Value = await SettingsService.GetString(SettingKey);
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        SettingsService.OnSettingsChanged -= OnSettingsChanged;
    }

}
