@page "/dialog/confirm/{message}"
@inherits SidekickView

<AppLogo />

<MudCard Class="my-3 pa-3">
    <MudCardContent>
        <MudText Typo="Typo.h5" Align="Align.Center">@Message</MudText>
    </MudCardContent>
</MudCard>

<div class="d-flex justify-end">
    <MudButton OnClick="No"
               Variant="Variant.Text"
               Color="Color.Default">
        @Resources.No
    </MudButton>
    <MudButton OnClick="Yes"
               Variant="Variant.Filled"
               Color="Color.Primary"
               Class="ml-3">
        @Resources.Yes
    </MudButton>
</div>

@inject DialogResources Resources;
@inject DialogService Service;
@code {
    [Parameter]
    public string? Message { get; set; }

    public override string Title => Resources.Title;
    public override SidekickViewType ViewType => SidekickViewType.Modal;

    private async Task Yes()
    {
        Service.SetConfirmationResult(true);
        await CurrentView.Close();
    }

    private async Task No()
    {
        Service.SetConfirmationResult(false);
        await CurrentView.Close();
    }
}
