<span class="relative fill-current inline-block @SizeClass @Class">
    @((MarkupString)Svg)

    @if (AddBadge)
    {
        <span class="absolute top-0 right-0 w-2 h-2 bg-red-700 rounded-full" />
    }
</span>

@code {
    [Parameter]
    public bool AddBadge { get; set; }

    [Parameter]
    public required string Svg { get; set; }

    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public UiIconSize Size { get; set; } = UiIconSize.Medium;

    private string SizeClass => Size switch
    {
        UiIconSize.Small => "size-3 min-w-3 min-h-3",
        UiIconSize.Large => "size-12 min-w-12 min-h-12",
        _ => "size-5 min-w-5 min-h-5",
    };

}
