@code {

  [Parameter]
  public required string Icon { get; set; }

  [Parameter]
  public string Class { get; set; } = "";

}

<span class="@Class fill-current inline-block w-[1em] h-[1em] min-w-[1em] min-h-[1em]">@((MarkupString)Icon)</span>
