@using Sidekick.Apis.PoePriceInfo
@using Sidekick.Apis.PoePriceInfo.Models
@using Sidekick.Common.Game
@using Sidekick.Common.Game.Items
@using Sidekick.Common.Settings
@using Sidekick.Modules.Trade.Localization

@if (Loading)
{
    <AppLoading/>
}
else if (Prediction != null && (Prediction.Min != 0 || Prediction.Max != 0))
{
    <div class="flex flex-nowrap items-center">
        <div class="text-right w-1/2 pr-2">
            <Heading3>@Resources["PoePrices.info"]</Heading3>
            <TextCaption Class="@ConfidenceColorClass">@Resources["Confidence: {0:0.#}%", Prediction.ConfidenceScore]</TextCaption>
        </div>
        <div class="text-left w-1/2 pl-2">
            <PriceRangeDisplay Min="Prediction.Min" Max="Prediction.Max" Currency="@Prediction.Currency"/>
        </div>
    </div>

    <ItemSeparator Rarity="PriceCheckService.Item?.Metadata.Rarity ?? Rarity.Unknown"/>
}

@inject IStringLocalizer<TradeResources> Resources
@inject ISettingsService SettingsService
@inject IPoePriceInfoClient Client
@inject PriceCheckService PriceCheckService

@code {

    private bool Loading { get; set; }

    private PricePrediction? Prediction { get; set; }

    private string ConfidenceColorClass => Prediction?.ConfidenceScore switch
    {
        (< 33) => "text-red-500",
        (< 66) => "text-yellow-500",
        _ => "text-green-500"
    };

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        if (PriceCheckService.Item?.Metadata.Game == GameType.PathOfExile2)
        {
            return;
        }

        if (PriceCheckService.Item == null || !await SettingsService.GetBool(SettingKeys.PriceCheckPredictionEnabled))
        {
            return;
        }

        Loading = true;
        StateHasChanged();

        Prediction = await Client.GetPricePrediction(PriceCheckService.Item);
        Loading = false;
        StateHasChanged();
    }

}
