
<div class="d-flex flex-row align-center @Class">
    <MudText Typo="ValueTypo">@Value.ToString("0.##")</MudText>
    @if (ImageUrl != null)
    {
        <MudText Typo="TimesTypo" Class="ml-1 times">&times;</MudText>
        <img src="@ImageUrl" class="@ImageClass" />
    }
</div>

@code {
    [Inject]
    private IItemStaticDataProvider ItemStaticDataProvider { get; set; }

    [Parameter]
    public string Currency { get; set; } = "chaos";

    [Parameter]
    public double Value { get; set; }

    [Parameter]
    public string Class { get; set; } = "justify-end";

    [Parameter]
    public bool Small { get; set; } = false;

    private Typo ValueTypo => Small ? Typo.h4 : Typo.h3;
    private Typo TimesTypo => Small ? Typo.caption : Typo.body1;
    private string ImageClass => Small ? "small" : "";

    private string ImageUrl => ItemStaticDataProvider.GetImage(Currency);
}
