
<div class="d-flex flex-row align-center @Class">
    <MudText Typo="Typo.h3">@Value.ToString("0.##")</MudText>
    @if (ImageUrl != null)
    {
        <MudText Typo="Typo.body1" Class="mx-1">&times;</MudText>
        <img src="@ImageUrl" />
    }
</div>

@code {
    [Inject] private IItemStaticDataProvider ItemStaticDataProvider { get; set; }

    [Parameter] public string Currency { get; set; } = "chaos";
    [Parameter] public double Value { get; set; }
    [Parameter] public string Class { get; set; } = "justify-end";

    private string ImageUrl => ItemStaticDataProvider.GetImage(Currency);
}
