@using Sidekick.Common.Ui

<button type="button"
        @onclick="() => OnClick.InvokeAsync()"
        @onclick:preventDefault="true"
        @onclick:stopPropagation="true"
        class="@($"{Class} px-4 py-2 text-center w-full text-base font-medium tracking-wide text-white transition-colors duration-200 rounded-md {UiClasses.FocusClasses}")">
    @ChildContent
</button>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

    [Parameter]
    public string? Class { get; set; }

}
