@page "/settings"
@layout SettingsLayout
@inherits SidekickView

<div class="pa-3">
    <MudText Typo="Typo.h1" Class="mb-3">@Resources.General</MudText>

    <MudPaper Class="pa-3 mb-3">
        <MudText Typo="Typo.h3" Class="mb-3">@Resources.Game_Title</MudText>
        <LanguageParserEditor/>
        <LeagueIdEditor/>
    </MudPaper>

    <MudPaper Class="pa-3">
        <MudText Typo="Typo.h3" Class="mb-3">@Resources.Group_Other</MudText>
        <EscapeClosesOverlaysEditor/>
        <KeyFindItemsEditor/>
    </MudPaper>
</div>

@inject SettingsResources Resources

@code {

    public override string Title => Resources.Title;

}
