@page "/settings/price"
@layout SettingsLayout
@inherits SidekickView

<div class="pa-3">
    <MudText Typo="Typo.h1" Class="mb-3">@Resources.PriceCheck</MudText>

    <MudPaper Class="pa-3 mb-3">
        <MudText Typo="Typo.h3" Class="mb-3">@Resources.Group_Keybinds</MudText>
        <KeyOpenPriceCheckEditor/>
        <KeyCloseEditor/>
    </MudPaper>

    <MudPaper Class="pa-3">
        <MudText Typo="Typo.h3" Class="mb-3">@Resources.Group_Other</MudText>
        <PriceCheckPredictionEnabledEditor/>
        <PriceCheckCloseWithMouseEditor/>
        <EscapeClosesOverlaysEditor/>
    </MudPaper>
</div>

@inject SettingsResources Resources

@code {

    public override string Title => Resources.Title;

    public override bool ShowSettingsButton => false;

}
