@using Sidekick.Apis.Poe.Items
@using Sidekick.Apis.Poe.Trade.Parser.Properties
@using Sidekick.Apis.Poe.Trade.Parser.Pseudo
@using Sidekick.Apis.Poe.Trade.Parser.Stats
@using Sidekick.Apis.Poe.Trade.Trade.Bulk
@using Sidekick.Apis.Poe.Trade.Trade.Filters
@using Sidekick.Apis.Poe.Trade.Trade.Filters.Types
@using Sidekick.Modules.Items.Localization
@using Sidekick.Modules.Items.Trade.Filters.Types
@using ItemHeader = Sidekick.Common.Ui.Poe.Items.ItemHeader

<div class="flex flex-col h-full">
    <div>
        <ItemHeader Name="@Item.Name"
                    Type="@Item.Type"
                    Rarity="Item.Properties.Rarity"
                    Game="Item.Game"
                    Influences="Item.Properties.Influences"/>
    </div>

    <div class="grow overflow-y-auto pt-2">
        @for (var index = 0; index < Filters.Count; index++)
        {
            var filter = Filters[index];
            var key = $"{Item.Id}_filter_{index}";
            <FilterComponent @key="key" Filter="filter"/>
        }
    </div>

    <div class="flex flex-nowrap items-center w-full py-2 px-1">
        <div class="flex flex-col items-stretch text-center px-1 grow">
            <ButtonPrimary
                OnClick="() => TradeService.SearchItems(Item, Filters)"
                Disabled="TradeService.IsLoading">@Resources["Search"]</ButtonPrimary>
        </div>

        @if (BulkTradeService.SupportsBulkTrade(Item))
        {
            <div class="flex flex-col items-stretch text-center px-1 grow">
                <ButtonSecondary OnClick="() => TradeService.SearchBulk(Item)"
                                 Disabled="TradeService.IsLoading">@Resources["Bulk_Search"]</ButtonSecondary>
            </div>
        }
    </div>
</div>

@inject IStringLocalizer<TradeResources> Resources
@inject IBulkTradeService BulkTradeService
@inject TradeService TradeService
@inject IPropertyParser PropertyParser
@inject IStatParser StatParser
@inject IPseudoParser PseudoParser
@inject ITradeFilterProvider TradeFilterProvider

@code {

    [CascadingParameter]
    public required Item Item { get; set; }

    private List<TradeFilter> Filters { get; set; } = [];

    protected override async Task OnParametersSetAsync()
    {
        Filters.Clear();
        Filters.AddRange(await PropertyParser.GetFilters(Item));
        Filters.Add(new SeparatorFilter());
        Filters.AddRange(await StatParser.GetFilters(Item));
        Filters.Add(new SeparatorFilter());
        Filters.AddRange(PseudoParser.GetFilters(Item));
        Filters.Add(new SeparatorFilter());
        Filters.AddRange(await TradeFilterProvider.GetFilters(Item));

        CleanUpSeparatorFilters(Filters);

        TradeService.Clear();

        await base.OnParametersSetAsync();
    }

    private async Task ApplyAutoSelection()
    {
        var enableAll = await SettingsService.GetBool(Sidekick.Common.Settings.SettingKeys.PriceCheckEnableAllFilters);
        if (enableAll)
        {
            foreach (var f in PropertyFilters!) f.Checked = true;
            foreach (var f in ModifierFilters) f.Checked = true;
            foreach (var f in PseudoFilters) f.Checked = true;
            return;
        }

        // Apply rules for each filter category
        foreach (var f in PropertyFilters!)
        {
            f.Checked = await AutoSelectService.ShouldCheck(Item, f);
        }
        foreach (var f in ModifierFilters)
        {
            f.Checked = await AutoSelectService.ShouldCheck(Item, f);
        }
        foreach (var f in PseudoFilters)
        {
            f.Checked = await AutoSelectService.ShouldCheck(Item, f);
        }
    }


    private static void CleanUpSeparatorFilters(List<TradeFilter> results)
    {
        // Remove leading SeparatorProperty filters
        while (results.Count > 0 && results[0] is SeparatorFilter)
        {
            results.RemoveAt(0);
        }

        // Remove trailing SeparatorProperty filters
        while (results.Count > 0 && results[^1] is SeparatorFilter)
        {
            results.RemoveAt(results.Count - 1);
        }

        // Remove consecutive SeparatorProperty filters
        for (var i = 1; i < results.Count; i++)
        {
            if (results[i] is not SeparatorFilter || results[i - 1] is not SeparatorFilter)
            {
                continue;
            }

            results.RemoveAt(i);
            i--;// Adjust index to recheck current position
        }
    }
}
