@using Sidekick.Apis.Poe.Items
@using Sidekick.Apis.Poe.Languages
@using Sidekick.Apis.Poe.Trade.Parser.Modifiers
@using Sidekick.Apis.PoeWiki

@if (OilNames.Count == 0)
{
    return;
}

<div class="flex flex-nowrap items-center mx-1">
    @foreach (var oilName in OilNames)
    {
        <Tooltip Text="@oilName">
            <img src="/images/blight/@(oilName.Replace(" ", "_")).png" class="size-8 min-w-8 min-h-8" alt="@oilName"/>
        </Tooltip>
    }
</div>

@inject IPoeWikiClient PoeWikiClient
@inject IGameLanguageProvider GameLanguageProvider

@code {

    [CascadingParameter]
    public required Item Item { get; set; }

    [Parameter]
    public required ModifierFilter Filter { get; set; }

    private List<string> OilNames { get; set; } = [];

    protected override async Task OnParametersSetAsync()
    {
        OilNames.Clear();

        if (Item.Game == GameType.PathOfExile2)
        {
            return;
        }

        if (Filter.Line.ApiInformation.FirstOrDefault()?.Category == ModifierCategory.Enchant && GameLanguageProvider.IsEnglish())
        {
            var oilMetadataIds = await PoeWikiClient.GetOilsMetadataIdsFromEnchantment(Filter.Line);

            OilNames = oilMetadataIds.Where(x => PoeWikiClient.BlightOilNamesByMetadataIds.ContainsKey(x)).Select(x => PoeWikiClient.BlightOilNamesByMetadataIds[x]).ToList();
        }
    }

}
