<button type="button"
        disabled="@Disabled"
        @onclick="() => OnClick.InvokeAsync()"
        @onclick:preventDefault="true"
        @onclick:stopPropagation="true"
        class="disabled:opacity-50 inline-flex items-center justify-center p-1 -m-1 text-base font-medium tracking-wide dark:text-violet-500 transition-colors duration-200 rounded-md bg-transparent hover:text-violet-400 @UiClasses.FocusClasses">
    @ChildContent
</button>

@code {

    [Parameter]
    public required RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

    [Parameter]
    public bool Disabled { get; set; }

}
