<button type="button"
        disabled="@Disabled"
        @onclick="() => OnClick.InvokeAsync()"
        @onclick:preventDefault="true"
        @onclick:stopPropagation="true"
        class="inline-flex p-1 -m-1 text-nowrap items-center transition-all duration-200 rounded-md @UiClasses.FocusClasses disabled:opacity-50 font-medium justify-center bg-transparent !border-transparent text-inherit underline cursor-pointer hover:opacity-60">
    @ChildContent
</button>

@code {

    [Parameter]
    public required RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

    [Parameter]
    public bool Disabled { get; set; }

}
