<button type="button"
        @onclick="() => OnClick.InvokeAsync()"
        @onclick:preventDefault="true"
        @onclick:stopPropagation="true"
        class="inline-flex items-center justify-center px-4 py-2 text-base font-medium tracking-wide text-white transition-colors duration-200 rounded-md bg-purple-700 hover:bg-purple-500 @UiClasses.FocusClasses">
    @ChildContent
</button>

@code {

    [Parameter]
    public required RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

}
