@using Sidekick.Apis.Poe2Scout.Categories
@using Sidekick.Apis.Poe2Scout.History.Models
@using Sidekick.Apis.Poe2Scout.Items.Models
@using Sidekick.Common.Browser
@using Sidekick.Modules.Items.Trade.Localization

@if (History == null)
{
    return;
}

<div class="flex items-start flex-wrap mb-2">
    <Heading2>
        <div class="flex flex-nowrap items-center gap-3">
            <img alt="Poe2Scout" src="/images/external-tools/scout-logo.png" class="size-6" />
            <span>Poe2Scout.com</span>
        </div>
    </Heading2>

    <div class="ml-auto text-right">
        @if (LastLog != null)
        {
            <div class="flex items-center flex-nowrap gap-1">
                <TextCaption>@Resources["Last_Updated"]:</TextCaption>
                <TextCaption>@LastLog.Time.ToString("g")</TextCaption>
            </div>
        }
        <ButtonLink OnClick="OpenWebsite">
            <TextCaption>@Resources["Open_Website"]</TextCaption>
        </ButtonLink>
    </div>
</div>

@inject IScoutCategoryProvider ScoutCategoryProvider
@inject IBrowserProvider BrowserProvider
@inject IStringLocalizer<TradeResources> Resources

@code {

    [Parameter]
    public ScoutHistory? History { get; set; }

    [Parameter]
    public ScoutItem? Item { get; set; }

    private ScoutHistoryLog? LastLog { get; set; }

    protected override void OnParametersSet()
    {
        LastLog = History?.Exalted?.LastOrDefault();
        base.OnParametersSet();
    }

    private void OpenWebsite()
    {
        var uri = ScoutCategoryProvider.GetUri(Item?.CategoryApiId);
        BrowserProvider.OpenUri(uri);
    }

}