@using Sidekick.Modules.Wealth.Localization
@using ApexCharts

@if (Data.Count == 0 || TotalChange == 0) return;

<div class="rounded-lg flex flex-nowrap items-center gap-2 h-[35px] -my-1">
    @if (TotalChange != null)
    {
        @if (TotalChange > 0)
        {
            <TextCaption Class="text-green-400">+@TotalChange.Value.ToString("0")%</TextCaption>
        }
        else
        {
            <TextCaption Class="text-red-400">@TotalChange.Value.ToString("0")%</TextCaption>
        }
    }

    <div class="w-[40px]">
        @if (Series != null)
        {
            <ApexChart TItem="DataPoint" Options="Options">
                <ApexPointSeries TItem="DataPoint"
                                 Items="Series"
                                 SeriesType="SeriesType.Line"
                                 XValue="(x => x.Index)"
                                 YValue="(x => x.Value)"/>
            </ApexChart>
        }
    </div>
</div>

@code {

    [Parameter]
    public decimal? TotalChange { get; set; }

    [Parameter]
    public List<decimal?> Data { get; set; } = [];

    private List<DataPoint>? Series { get; set; }

    private ApexChartOptions<DataPoint>? Options { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        if (Data.Count(x => x.HasValue) > 2)
        {
            Series = Data
                .Where(x => x.HasValue)
                .Select((value, index) => new DataPoint
                {
                    Index = index,
                    Value = value,
                })
                .ToList();
            Options = new()
            {
                Chart = new Chart
                {
                    Height = 35,
                    Background = "transparent",
                    FontFamily = "fontin",
                    Toolbar = new Toolbar
                    {
                        Show = false
                    },
                    Zoom = new Zoom
                    {
                        Enabled = false,
                    },
                    Sparkline = new ChartSparkline()
                    {
                        Enabled = true,
                    }
                },
                Legend = new Legend()
                {
                    Show = false,
                },
                Stroke = new()
                {
                    Curve = Curve.Smooth,
                    Width = 2,
                    Colors = ["#8888ff"],
                },
                Theme = new Theme
                {
                    Mode = Mode.Dark,
                    Palette = PaletteType.Palette8,
                },
                Tooltip = new()
                {
                    Enabled = false
                },
                Markers = new()
                {
                    Size = 0
                },
                Xaxis = new XAxis
                {
                    AxisBorder = new AxisBorder()
                    {
                        Show = false,
                    },
                    AxisTicks = new AxisTicks()
                    {
                        Show = false,
                    },
                    Labels = new XAxisLabels()
                    {
                        Show = false,
                    },
                    Tooltip = new XAxisTooltip()
                    {
                        Enabled = false,
                    },
                },
                Yaxis =
                [
                    new YAxis()
                    {
                        Labels = new YAxisLabels()
                        {
                            Show = false,
                        },
                    },
                ],
            };
        }
    }

    class DataPoint
    {
        public int Index { get; set; }

        public decimal? Value { get; set; }
    }

}