@using Sidekick.Common.Settings

<div>
    <MudCheckBox Value="@EscapeClosesOverlays"
                 ValueChanged="@EscapeClosesOverlaysChanged"
                 T="bool"
                 Label="@Resources.EscapeClosesOverlays"/>
</div>

@inject SettingsResources Resources
@inject ISettingsService SettingsService

@code {

    private bool EscapeClosesOverlays { get; set; }

    protected override async Task OnInitializedAsync()
    {
        EscapeClosesOverlays = await SettingsService.GetBool(SettingKeys.EscapeClosesOverlays);
        await base.OnInitializedAsync();
    }

    private async Task EscapeClosesOverlaysChanged(bool value)
    {
        EscapeClosesOverlays = value;
        await SettingsService.Set(SettingKeys.EscapeClosesOverlays, value);
    }

}
