@using Sidekick.Modules.Items.Poe2Scout
@using Sidekick.Modules.Items.PoeNinja
@using Sidekick.Modules.Items.PoePrices

<div class="flex flex-col gap-4">
    <PoeNinjaResults/>
    <Poe2ScoutResult/>
    <PoePricesResult/>
</div>
