@page "/settings/wiki"
@layout SettingsLayout
@inherits SidekickView

<div class="pa-3">
    <MudText Typo="Typo.h1" Class="mb-3">@Resources.Wiki</MudText>

    <MudPaper Class="pa-3 mb-3">
        <MudText Typo="Typo.h3" Class="mb-3">@Resources.Group_Keybinds</MudText>
        <KeyOpenWikiEditor/>
    </MudPaper>

    <MudPaper Class="pa-3">
        <MudText Typo="Typo.h3" Class="mb-3">@Resources.Group_Other</MudText>
        <PreferredWikiEditor/>
    </MudPaper>
</div>

@inject SettingsResources Resources

@code {

    public override string Title => Resources.Title;

}
