@inject IJSRuntime JSRuntime
@inject IModalService Modal

<CascadingBlazoredModal>
    <h1>@Message</h1>
    <button class="btn btn-primary" @onclick="ClickMe">Click Me</button>

    <br />
    <br />
    <button class="btn btn-primary" @onclick="ShowModal">Show Modal</button>

    <br />
    <br />
    <button class="btn btn-primary" @onclick="TalkToWPF">Talk to WPF</button>
    
    <br />
    <br/>
    <ChildComponent/>
    <BECanvas Width="300" Height="400" @ref="_canvasReference"></BECanvas>
</CascadingBlazoredModal>