@using Sidekick.Apis.Poe.Trade.ApiItems
@using Sidekick.Data.Items

<div class="flex flex-nowrap gap-0.5 items-center justify-end">
    <Heading3>@Value.ToString("0.##")</Heading3>
    @if (ChaosItem != null)
    {
        <TextBase Class="text-[#a38d6d]">&times;</TextBase>
        <Tooltip Text="@ChaosItem.Text">
            <img src="@ChaosItem.Image" class="max-h-6" alt="chaos" />
        </Tooltip>
    }
</div>

@inject IApiItemProvider ApiItemProvider

@code {

    [Parameter]
    public decimal Value { get; set; }

    private ItemDefinition? ChaosItem => ApiItemProvider.GetById("chaos");

}
