@using Sidekick.Apis.Poe.Trade.Parser.Definition
@using Sidekick.Data.ItemDefinitions

<div class="flex flex-nowrap gap-0.5 items-center justify-end">
    <Heading3>@Value.ToString("0.##")</Heading3>
    <TextBase Class="text-[#a38d6d]">&times;</TextBase>
    @if (Currency != null)
    {
        <Tooltip Text="@Currency.BaseItem?.Name">
            <img src="@Currency.TradeItem?.Image" class="max-h-6" alt="@Currency.BaseItem?.Name"/>
        </Tooltip>
    }
</div>

@inject IItemDefinitionParser ItemDefinitionParser

@code {

    [Parameter]
    public decimal Value { get; set; }

    private ItemDefinition? Currency { get; set; }

    protected override void OnParametersSet()
    {
        Currency = ItemDefinitionParser.Get("chaos");
        base.OnParametersSet();
    }

}
