@using Sidekick.Apis.Poe.Trade.ApiItems
@using Sidekick.Common.Exceptions
@using Sidekick.Data.Items

<div class="flex flex-nowrap gap-0.5 items-center justify-end">
    <Heading3>@Value.ToString("0.##")</Heading3>
    <TextBase Class="text-[#a38d6d]">&times;</TextBase>
    @if (Currency != null)
    {
        <Tooltip Text="@Currency.TradeItem?.Text">
            <img src="@Currency.TradeItem?.Image" class="max-h-6" alt="chaos"/>
        </Tooltip>
    }
</div>

@inject IApiItemProvider ApiItemProvider

@code {

    [Parameter]
    public decimal Value { get; set; }

    private ItemDefinition? Currency { get; set; }

    protected override void OnParametersSet()
    {
        Currency = ApiItemProvider.Get("chaos") ?? throw new SidekickException("The currency could not be determined.");
        base.OnParametersSet();
    }

}
