@if (WealthParser.IsRunning())
{
    <MudAlert Severity="Severity.Success" Variant="Variant.Filled" Square="true" Dense="true" Icon="@Icons.Material.Filled.PlayCircle">
        <div class="align-center d-flex flex-wrap justify-space-around">
            <div class="ma-1">The wealth tracker is running.</div>
            <MudButton OnClick="() => Stop()" Size="Size.Small" DisableElevation="true" Color="Color.Success" Variant="Variant.Text" StartIcon="@Icons.Material.Filled.Stop" Class="white ma-1">Stop</MudButton>
        </div>
    </MudAlert>
}
else
{
    <MudAlert Severity="Severity.Error" Variant="Variant.Filled" Square="true" Dense="true" Icon="@Icons.Material.Filled.StopCircle">
        <div class="align-center d-flex flex-wrap justify-space-around">
            <div class="ma-1">The wealth tracker is stopped.</div>
            <MudButton OnClick="() => Start()" Size="Size.Large" DisableElevation="true" Color="Color.Error" Variant="Variant.Text" StartIcon="@Icons.Material.Filled.PlayArrow" Class="white ma-1">Start</MudButton>
        </div>
    </MudAlert>
}

@inject WealthParser WealthParser
@inject ISettings Settings
@code {
    private void Start()
    {
        WealthParser.Start();
    }

    private void Stop()
    {
        WealthParser.Stop();
    }
}
