@using Microsoft.Extensions.Localization
@using Sidekick.Common.Cache
@using Sidekick.Common.Folder
@using Sidekick.Common.Ui.Forms
@using Sidekick.Common.Ui.Buttons
@using Sidekick.Data
@using Sidekick.Modules.About.Localization

<FormFieldset Legend="@Resources["Data"]" Class="flex flex-col justify-start">
    <div class="flex items-center gap-3">
        <ButtonSecondary
            OnClick="()=>FolderProvider.OpenFolder(DataProvider.DataDirectory)">@Resources["Open_Data_Folder"]
        </ButtonSecondary>
        <ButtonSecondary OnClick="ResetCache">@Resources["Reset_Cache"]</ButtonSecondary>
    </div>
</FormFieldset>

@inject IStringLocalizer<AboutResources> Resources
@inject ICacheProvider CacheProvider
@inject DataProvider DataProvider
@inject IFolderProvider FolderProvider
@inject NavigationManager NavigationManager

@code{
    private async Task ResetCache()
    {
        await CacheProvider.Clear();
        NavigationManager.NavigateTo("/initialize");
    }
}
