@using Microsoft.Extensions.Localization
@using Sidekick.Common.Platform
@using Sidekick.Common.Ui.Forms
@using Sidekick.Common.Ui.Buttons
@using Sidekick.Common.Ui.Views
@using Sidekick.Modules.About.Localization

<FormFieldset Legend="@($"Sidekick - {Title}")">
    <div class="flex">
        <ButtonPrimary OnClick="Check">@Resources["Check_For_Updates"]</ButtonPrimary>
    </div>
</FormFieldset>

@inject IStringLocalizer<AboutResources> Resources
@inject NavigationManager NavigationManager
@inject IApplicationService ApplicationService
@inject IViewLocator ViewLocator

@code
{
    private string? Title { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        Title = ApplicationService.GetVersion();
        base.OnInitializedAsync();
    }

    private void Check()
    {
        ViewLocator.Open(SidekickViewType.Splash, $"/update?back={Uri.EscapeDataString(NavigationManager.Uri)}");
    }
}
