<Heading2>
    <div class="flex flex-nowrap items-center gap-3">
        <img alt="PoeNinja" src="@Assets["_content/Sidekick.Common.Ui/images/external-tools/ninja-logo.png"]" class="size-6"/>
        <span>Poe.Ninja</span>
        @if (!string.IsNullOrEmpty(Tooltip))
        {
            <Tooltip Text="@Tooltip"/>
        }
    </div>
</Heading2>

@code {

    [Parameter]
    public string? Tooltip { get; set; }

}