@using Sidekick.Apis.Poe.Items
@using Sidekick.Apis.Poe.Trade.Trade.Filters.AutoSelect
@using Sidekick.Modules.Items.Trade.Localization

<div class="flex flex-nowrap items-start gap-1 py-1 pl-2 pr-1 border-b border-stone-700">
    <div class="grow grid grid-cols-5 gap-x-2 gap-y-0 items-center leading-4">
        @if (First)
        {
            <span class="text-neutral-500">@Resources["AutoSelect_When"]</span>
        }
        else
        {
            <span class="text-neutral-500">@Resources["AutoSelect_And"]</span>
        }
        <div class="col-span-2">
            <FilterAutoSelectConditionType @ref="ConditionType"
                                           Condition="Condition"
                                           OnChanged="Update"
                                           Readonly="Readonly"/>
        </div>
        <div class="col-span-2">
            <FilterAutoSelectComparisonType @ref="ComparisonType"
                                            Condition="Condition"
                                            OnChanged="Update"
                                            Readonly="Readonly"/>
        </div>
        <div class="col-start-2 col-span-4">
            <FilterAutoSelectConditionValue @ref="ConditionValue"
                                            Condition="Condition"
                                            OnChanged="Update"
                                            Readonly="Readonly"/>
        </div>
    </div>
    @if (!Readonly && CanBeDeleted)
    {
        <Tooltip Text="@Resources["AutoSelect_RemoveCondition"]">
            <ButtonIcon Class="text-red-500! hover:text-red-300!"
                        Svg="@UiIcons.Close"
                        OnClick="OnRemoved"/>
        </Tooltip>
    }
</div>

@inject IStringLocalizer<TradeResources> Resources

@code {

    [CascadingParameter]
    public required Item Item { get; set; }

    [Parameter]
    public required AutoSelectCondition Condition { get; set; }

    [Parameter]
    public bool Readonly { get; set; }

    [Parameter]
    public bool First { get; set; }

    [Parameter]
    public EventCallback OnChanged { get; set; }

    [Parameter]
    public EventCallback OnRemoved { get; set; }

    [Parameter]
    public bool CanBeDeleted { get; set; }

    private FilterAutoSelectConditionType? ConditionType { get; set; }

    private FilterAutoSelectComparisonType? ComparisonType { get; set; }

    private FilterAutoSelectConditionValue? ConditionValue { get; set; }

    private async Task Update()
    {
        ConditionType?.Update();
        ComparisonType?.Update();
        ConditionValue?.Update();
        await OnChanged.InvokeAsync();
    }

}
