@using System.Text.Json
@using Sidekick.Apis.Poe.Items
@using Sidekick.Apis.Poe.Languages
@using Sidekick.Apis.Poe.Trade.Trade.Filters.AutoSelect

@if (Condition.Comparison is AutoSelectComparisonType.True or AutoSelectComparisonType.False)
{
    return;
}

@if (Condition.Comparison is AutoSelectComparisonType.IsContainedIn or AutoSelectComparisonType.IsNotContainedIn)
{
    <div class="grid grid-cols-3 gap-y-0.5 gap-x-3 w-full">
        @foreach (var option in GetOptions())
        {
            <FormCheckbox Value="IsChecked(option)"
                          ValueChanged="(value) => ToggleCheck(option, value)"
                          Readonly="Readonly">
                <span class="line-clamp-1">@option.Label</span>
            </FormCheckbox>
        }
    </div>
    return;
}

<FormInputInline Value="@Condition.Value"
                 ValueChanged="Changed"
                 Readonly="Readonly"/>

@inject ICurrentGameLanguage CurrentGameLanguage
@inject IStringLocalizer<StatCategory> StatCategoryResources

@code {

    [CascadingParameter]
    public required Item Item { get; set; }

    [Parameter]
    public required AutoSelectCondition Condition { get; set; }

    [Parameter]
    public bool Readonly { get; set; }

    [Parameter]
    public EventCallback OnChanged { get; set; }

    public void Update()
    {
        StateHasChanged();
    }

    private async Task Changed(string? value)
    {
        Condition.Value = value;
        await OnChanged.InvokeAsync();
    }

    private bool IsChecked(SelectOption option) => Condition.Value?.Contains($"\"{option.Value ?? "null"}\"") ?? false;

    private async Task ToggleCheck(SelectOption option, bool isChecked)
    {
        List<string> value;
        try
        {
            value = JsonSerializer.Deserialize<List<string>>(Condition.Value ?? "[]", AutoSelectPreferences.JsonSerializerOptions) ?? [];
        }
        catch (Exception)
        {
            value = [];
        }

        if (isChecked)
        {
            value.Add(option.Value ?? "null");
        }
        else
        {
            value.Remove(option.Value ?? "null");
        }

        Condition.Value = JsonSerializer.Serialize(value, AutoSelectPreferences.JsonSerializerOptions);
        await OnChanged.InvokeAsync();
    }

    private List<SelectOption> GetOptions()
    {
        if (Condition.Type == AutoSelectConditionType.Rarity)
        {
            return
            [
                CreateRarity(Rarity.Normal),
                CreateRarity(Rarity.Magic),
                CreateRarity(Rarity.Rare),
                CreateRarity(Rarity.Unique),
                CreateRarity(Rarity.Currency),
            ];

            SelectOption CreateRarity(Rarity rarity)
            {
                return new SelectOption()
                {
                    Label = rarity switch
                    {
                        Rarity.Currency => CurrentGameLanguage.Language.RarityCurrency,
                        Rarity.DivinationCard => CurrentGameLanguage.Language.RarityDivinationCard,
                        Rarity.Normal => CurrentGameLanguage.Language.RarityNormal,
                        Rarity.Magic => CurrentGameLanguage.Language.RarityMagic,
                        Rarity.Rare => CurrentGameLanguage.Language.RarityRare,
                        Rarity.Unique => CurrentGameLanguage.Language.RarityUnique,
                        _ => rarity.ToString(),
                    },
                    Value = rarity.ToString(),
                };
            }
        }

        if (Condition.Type == AutoSelectConditionType.ItemClass)
        {
            return
            [
                CreateItemClass(ItemClass.AbyssJewel),
                CreateItemClass(ItemClass.Amulet),
                CreateItemClass(ItemClass.Belt),
                CreateItemClass(ItemClass.BodyArmour),
                CreateItemClass(ItemClass.Boots),
                CreateItemClass(ItemClass.Bow),
                CreateItemClass(ItemClass.Claw),
                CreateItemClass(ItemClass.Crossbow),
                CreateItemClass(ItemClass.Dagger),
                CreateItemClass(ItemClass.FishingRod),
                CreateItemClass(ItemClass.Flask),
                CreateItemClass(ItemClass.Gloves),
                CreateItemClass(ItemClass.Helmet),
                CreateItemClass(ItemClass.Jewel),
                CreateItemClass(ItemClass.OneHandAxe),
                CreateItemClass(ItemClass.OneHandMace),
                CreateItemClass(ItemClass.OneHandSword),
                CreateItemClass(ItemClass.Quiver),
                CreateItemClass(ItemClass.Ring),
                CreateItemClass(ItemClass.RuneDagger),
                CreateItemClass(ItemClass.Sceptre),
                CreateItemClass(ItemClass.Shield),
                CreateItemClass(ItemClass.Staff),
                CreateItemClass(ItemClass.TwoHandAxe),
                CreateItemClass(ItemClass.TwoHandMace),
                CreateItemClass(ItemClass.TwoHandSword),
                CreateItemClass(ItemClass.Wand),
                CreateItemClass(ItemClass.Warstaff),
            ];

            SelectOption CreateItemClass(ItemClass itemClass)
            {
                return new SelectOption()
                {
                    Label = itemClass switch
                    {
                        ItemClass.AbyssJewel => CurrentGameLanguage.Language.Classes.AbyssJewel,
                        ItemClass.Amulet => CurrentGameLanguage.Language.Classes.Amulet,
                        ItemClass.Belt => CurrentGameLanguage.Language.Classes.Belt,
                        ItemClass.BodyArmour => CurrentGameLanguage.Language.Classes.BodyArmours,
                        ItemClass.Boots => CurrentGameLanguage.Language.Classes.Boots,
                        ItemClass.Bow => CurrentGameLanguage.Language.Classes.Bows,
                        ItemClass.Claw => CurrentGameLanguage.Language.Classes.Claws,
                        ItemClass.Crossbow => CurrentGameLanguage.Language.Classes.Crossbows,
                        ItemClass.Dagger => CurrentGameLanguage.Language.Classes.Daggers,
                        ItemClass.FishingRod => CurrentGameLanguage.Language.Classes.FishingRods,
                        ItemClass.Flask => CurrentGameLanguage.Language.Classes.UtilityFlasks,
                        ItemClass.Gloves => CurrentGameLanguage.Language.Classes.Gloves,
                        ItemClass.Helmet => CurrentGameLanguage.Language.Classes.Helmets,
                        ItemClass.Jewel => CurrentGameLanguage.Language.Classes.Jewel,
                        ItemClass.OneHandAxe => CurrentGameLanguage.Language.Classes.OneHandAxes,
                        ItemClass.OneHandMace => CurrentGameLanguage.Language.Classes.OneHandMaces,
                        ItemClass.OneHandSword => CurrentGameLanguage.Language.Classes.OneHandSwords,
                        ItemClass.Quiver => CurrentGameLanguage.Language.Classes.Quivers,
                        ItemClass.Ring => CurrentGameLanguage.Language.Classes.Ring,
                        ItemClass.RuneDagger => CurrentGameLanguage.Language.Classes.RuneDaggers,
                        ItemClass.Sceptre => CurrentGameLanguage.Language.Classes.Sceptres,
                        ItemClass.Shield => CurrentGameLanguage.Language.Classes.Shields,
                        ItemClass.Staff => CurrentGameLanguage.Language.Classes.Staves,
                        ItemClass.TwoHandAxe => CurrentGameLanguage.Language.Classes.TwoHandAxes,
                        ItemClass.TwoHandMace => CurrentGameLanguage.Language.Classes.TwoHandMaces,
                        ItemClass.TwoHandSword => CurrentGameLanguage.Language.Classes.TwoHandSwords,
                        ItemClass.Wand => CurrentGameLanguage.Language.Classes.Wands,
                        ItemClass.Warstaff => CurrentGameLanguage.Language.Classes.Warstaves,
                        _ => itemClass.ToString(),
                    },
                    Value = itemClass.ToString(),
                };
            }
        }

        if (Condition.Type == AutoSelectConditionType.StatCategory)
        {
            var results = new List<SelectOption>()
            {
                CreateStatCategory(StatCategory.Implicit),
                CreateStatCategory(StatCategory.Explicit),
                CreateStatCategory(StatCategory.Fractured),
            };

            if (Item.Game == GameType.PathOfExile2)
            {
                results.Add(CreateStatCategory(StatCategory.Desecrated));
                results.Add(CreateStatCategory(StatCategory.Rune));
                results.Add(CreateStatCategory(StatCategory.Skill));
            }

            if (Item.Game == GameType.PathOfExile1)
            {
                results.Add(CreateStatCategory(StatCategory.Crafted));
                results.Add(CreateStatCategory(StatCategory.Mutated));
            }

            return results;

            SelectOption CreateStatCategory(StatCategory statCategory)
            {
                return new SelectOption()
                {
                    Label = StatCategoryResources[statCategory.ToString()],
                    Value = statCategory.ToString(),
                };
            }
        }

        return [];
    }
}
