@using Sidekick.Apis.Poe.Trade.Parser.Properties.Definitions

@if (!string.IsNullOrEmpty(Filter.ItemClass))
{
    <FilterWrapper>
        <div class="flex items-center flex-nowrap justify-between">
            <FormCheckbox Value="Filter.Checked"
                          ValueChanged="(v)=>Filter.Checked = v">
                <ItemPropertyText Label="@Filter.Text"
                                  Value="@Filter.ItemClass"/>
            </FormCheckbox>
        </div>
    </FilterWrapper>
}

@if (!string.IsNullOrEmpty(Filter.BaseType))
{
    <FilterWrapper>
        <div class="flex items-center flex-nowrap justify-between">
            <FormCheckbox Value="!Filter.Checked"
                          ValueChanged="(v)=>Filter.Checked = !v">
                <ItemPropertyText Label="@Filter.BaseTypeText"
                                  Value="@Filter.BaseType"/>
            </FormCheckbox>
        </div>
    </FilterWrapper>
}

@code {

    [Parameter]
    public required ItemClassFilter Filter { get; set; }

}
