@using Sidekick.Apis.Poe.Items
@using Sidekick.Apis.Poe.Trade.Trade.Filters.Types
@using Sidekick.Data.Stats
@using Sidekick.Data.Items

<FilterWrapper Filter="@Filter">
    <div class="grow">
        <FormCheckbox Value="Filter.Checked"
                      ValueChanged="CheckedChanged">
            <ItemStatText Class="text-left"
                          Category="StatCategory.Pseudo">@Filter.Text</ItemStatText>
        </FormCheckbox>
    </div>

    @if (Filter is
             {
                 Checked: true,
                 Stat:
                 {
                     Value: not 0
                 }
             })
    {
        <FilterRange Filter="Filter"
                     @bind-Min="@Filter.Min"
                     @bind-Max="@Filter.Max"/>
    }
</FilterWrapper>

@code {

    [Parameter]
    public required PseudoFilter Filter { get; set; }

    private void CheckedChanged(bool value)
    {
        Filter.Checked = value;
    }

}
