@using Sidekick.Apis.Poe.Items
@using Sidekick.Apis.Poe.Trade.Trade.Filters.Types
@using Sidekick.Data.Items.Models

<FilterWrapper Filter="@Filter">
    <div class="grow">
        <FormCheckbox Value="Filter.Checked"
                      ValueChanged="CheckedChanged">
            <ItemStatText Class="text-left"
                          Category="StatCategory.Pseudo">@Filter.Text</ItemStatText>
        </FormCheckbox>
    </div>

    <div class="flex flex-col items-end justify-between gap-[2px]">
        <ItemStatCategoryChip Category="StatCategory.Pseudo"/>

        @if (Filter is
                 {
                     Checked: true,
                     Stat:
                     {
                         Value: not 0
                     }
                 })
        {
            <FilterRange Filter="Filter"
                         @bind-Min="@Filter.Min"
                         @bind-Max="@Filter.Max"/>
        }
    </div>
</FilterWrapper>

@code {

    [Parameter]
    public required PseudoFilter Filter { get; set; }

    private void CheckedChanged(bool value)
    {
        Filter.Checked = value;
    }

}
