@using Sidekick.Apis.Poe.Trade.Trade.Filters.Types
@using Sidekick.Modules.Items.Trade.Localization

<FilterWrapper Filter="Filter">
    <div class="grow">
        <FormCheckbox Value="Filter.Checked"
                      ValueChanged="CheckedChanged">
            <ItemStatText Class="text-left"
                          Category="Filter.Stat.Category">@Filter.Text</ItemStatText>
        </FormCheckbox>
    </div>

    <OilAnointment Filter="Filter"/>

    <div class="flex flex-col items-end justify-between gap-[2px]">
        @if (Filter is
                 {
                     Checked: true,
                     Stat.HasMultipleCategories: true,
                 })
        {
            <Tooltip Text="@Resources["ForceCategoryHint"]" Placement="TooltipPlacement.Right">
                <ItemStatCategoryChip Category="Filter.Stat.Category"
                                      Checked="Filter.UsePrimaryCategory"
                                      ShowCheckbox="true"
                                      OnClick="() => Filter.UsePrimaryCategory = !Filter.UsePrimaryCategory"/>
            </Tooltip>
        }

        @if (Filter is
                 {
                     Checked: true,
                     Stat.HasValues: true,
                 })
        {
            <FilterRange Filter="Filter"
                         @bind-Min="@Filter.Min"
                         @bind-Max="@Filter.Max"/>
        }
    </div>
</FilterWrapper>

@inject IStringLocalizer<TradeResources> Resources

@code {

    [Parameter]
    public required StatFilter Filter { get; set; }

    private void CheckedChanged(bool value)
    {
        Filter.Checked = value;
    }

}
