@using Sidekick.Apis.PoeNinja.Items
@using Sidekick.Common.Ui.App
@using Sidekick.Common.Ui.Buttons
@using Sidekick.Common.Ui.Forms

<FormFieldset Legend="Preload Ninja Data">
    <FormInput Label="Folder Path (/data)"
               @bind-Value="DataFolder"/>
    <div class="flex flex-nowrap gap-3">
        <div class="w-1/2">
            <FormInput Label="PoE1 League"
                       @bind-Value="PoE1League"/>
        </div>
        <div class="w-1/2">
            <FormInput Label="PoE2 League"
                       @bind-Value="PoE2League"/>
        </div>
    </div>
    <div class="flex flex-wrap gap-3">
        <ButtonPrimary OnClick="Download">Download</ButtonPrimary>
    </div>

    @if (Loading)
    {
        <AppLoading/>
    }
</FormFieldset>

@inject INinjaPageProvider NinjaPageProvider

@code {

    private string DataFolder { get; set; } = string.Empty;

    private string PoE1League { get; set; } = string.Empty;

    private string PoE2League { get; set; } = string.Empty;

    private bool Loading { get; set; }

    public async Task Download()
    {
        Loading = true;
        StateHasChanged();

        await NinjaPageProvider.Download(DataFolder, PoE1League, PoE2League);

        Loading = false;
        StateHasChanged();
    }

}
