@page "/development"
@using Sidekick.Common.Extensions
@using Sidekick.Common.Platform
@using Sidekick.Modules.Development.Components
@using Sidekick.Modules.Development.Layouts
@inherits SidekickView
@layout DevelopmentLayout

<AppContainer>
    <div class="grid grid-cols-12 gap-3">
        <div class="col-span-8">
            <Heading2 Class="mb-3">Items</Heading2>
            <FormTextarea @bind-Value="ItemText"/>
            <div class="grid grid-cols-12 gap-3 mt-3">
                <div class="col-span-6">
                    <HomeButton Class="bg-blue-700 hover:bg-blue-500" OnClick="PriceCheck">Check Prices</HomeButton>
                </div>
                <div class="col-span-6">
                    <HomeButton Class="bg-fuchsia-700 hover:bg-fuchsia-500" OnClick="MapCheck">Check Map</HomeButton>
                </div>
            </div>
        </div>
        <div class="col-span-4">
            <Heading2 Class="mb-3">Other Pages</Heading2>
            <HomeButton Class="bg-emerald-700 hover:bg-emerald-500 mb-3" OnClick="@(() => NavigationManager.NavigateTo("/wealth"))">Wealth</HomeButton>
            <HomeButton Class="bg-slate-700 hover:bg-slate-500 mb-3" OnClick="@(() => NavigationManager.NavigateTo("/settings"))">Settings</HomeButton>
            <Heading2 Class="mb-3">Keybinds</Heading2>
            <HomeButton Class="bg-amber-700 hover:bg-amber-500 mb-3" OnClick="RegisterHooks">Register Hooks</HomeButton>
        </div>
    </div>
</AppContainer>

@inject IKeyboardProvider KeyboardProvider

@code {

    private string? ItemText { get; set; }

    private void PriceCheck()
    {
        NavigationManager.NavigateTo($"/trade/{ItemText.EncodeBase64Url()}");
    }

    private void MapCheck()
    {
        NavigationManager.NavigateTo($"/map/{ItemText.EncodeBase64Url()}");
    }

    private void RegisterHooks()
    {
        KeyboardProvider.RegisterHooks();
    }

}
