@page "/development/tests"
@layout DevelopmentLayout
@using Sidekick.Modules.Development.Layouts
@inherits SidekickView

<AppContainer>
    <div class="flex items-center justify-center gap-2">
        <ButtonPrimary OnClick="ThrowException">Throw an exception</ButtonPrimary>
    </div>
</AppContainer>

@code {

    public void ThrowException()
    {
#pragma warning disable S112 // General exceptions should never be thrown
        throw new Exception("Developper test from the exception page.");
#pragma warning restore S112 // General exceptions should never be thrown
    }

}
