@if (QueryId != null)
{
    <div class="d-flex flex-row align-center justify-space-between mb-2">
        <div>
            <MudText Color="Color.Info">@Settings.LeagueId</MudText>
            <CountString Count="Count" Total="Total" />
        </div>
        <div>
            <MudButtonGroup Size="@Size.Small">
                <OpenWebsiteLink Item="Item" QueryId="@QueryId" />
                @if (CanExpand)
                {
                    <ToggleLayoutButton Layout="Layout" LayoutChanged="LayoutChanged" />
                }
            </MudButtonGroup>
            <TradeCurrencySelect Changed="Changed" />
        </div>
    </div>
}

@code {
    [Inject] private ISettings Settings { get; set; }

    [Parameter] public Item Item { get; set; }
    [Parameter] public string QueryId { get; set; }

    [Parameter] public Layout Layout { get; set; }
    [Parameter] public EventCallback<Layout> LayoutChanged { get; set; }

    [Parameter] public EventCallback Changed { get; set; }

    [Parameter] public int Count { get; set; }
    [Parameter] public int Total { get; set; }

    [Parameter] public bool CanExpand { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var layout = Enum.Parse<Layout>(Settings.Trade_Layout);
            await LayoutChanged.InvokeAsync(layout);
        }
        catch (Exception) { }

        await base.OnInitializedAsync();
    }
}
