@if (QueryId != null)
{
    <div class="d-flex flex-row align-center justify-end mb-2">
        <CountString Count="Count" Total="Total" />
        <MudButtonGroup Size="@Size.Small">
            <OpenWebsiteLink Item="Item" QueryId="@QueryId" />
            <ToggleLayoutButton Layout="Layout" LayoutChanged="LayoutChanged" />
        </MudButtonGroup>
    </div>
}

@code {
    [Parameter] public Item Item { get; set; }
    [Parameter] public string QueryId { get; set; }

    [Parameter] public Layout Layout { get; set; }
    [Parameter] public EventCallback<Layout> LayoutChanged { get; set; }

    [Parameter] public int Count { get; set; }
    [Parameter] public int Total { get; set; }

    private bool Opened { get; set; } = false;

    private void Open()
    {
        Opened = true;
    }
}
