@using Sidekick.Modules.Trade.Localization

<Tooltip Text="@(IsCompact ? Resources["Layout_Cards_Maximized"] : Resources["Layout_Cards_Minimized"])" Placement="TooltipPlacement.Right">
    <ChildContent>
        <button type="button"
                @onclick="@OnClick"
                @onclick:preventDefault="true"
                @onclick:stopPropagation="true"
                class="inline-flex items-center justify-center p-1 -m-1 text-xl font-medium tracking-wide transition-colors duration-200 rounded-md bg-transparent">
            <Icon Svg="@(IsCompact ? UiIcons.Expand : UiIcons.Collapse)" />
        </button>
    </ChildContent>
</Tooltip>

@inject IStringLocalizer<TradeResources> Resources

@code {

    [Parameter]
    public required bool IsCompact { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

}
