@using Microsoft.JSInterop
@using Sidekick.Common.Logging
@implements IAsyncDisposable
@inject IJSRuntime JsRuntime

<div @ref="LogContainer" class="flex flex-col overflow-y-auto max-h-[calc(100vh-120px)] font-mono text-sm whitespace-pre-wrap p-4 bg-black/20 rounded-lg border border-white/10">
    @foreach (var log in Logs)
    {
        <div class="mb-1 border-b border-white/5 pb-1 last:border-0 last:pb-0 @GetLogClass(log)">@log</div>
    }
</div>

@code {
    private ElementReference LogContainer { get; set; }
    private List<string> Logs { get; set; } = new();
    private IJSObjectReference? Module { get; set; }

    private string GetLogClass(string log)
    {
        if (log.Contains("[WRN]"))
        {
            return "text-yellow-500";
        }

        if (log.Contains("[ERR]"))
        {
            return "text-red-500";
        }

        if (log.Contains("[FTL]"))
        {
            return "text-red-700 font-bold";
        }

        if (log.Contains("[DBG]"))
        {
            return "text-gray-400";
        }

        if (log.Contains("[VRB]"))
        {
            return "text-gray-500";
        }

        if (log.Contains("[INF]"))
        {
            return "text-blue-400";
        }

        return "text-gray-200";
    }

    protected override void OnInitialized()
    {
        Logs = new List<string>(LogSink.Instance.Entries.ToList());
        LogSink.Instance.LogEventEmitted += OnLogEventEmitted;
        base.OnInitialized();
    }

    private void OnLogEventEmitted(string log)
    {
        _ = InvokeAsync(async () =>
        {
            Logs.Add(log);
            if (Logs.Count > 1000)
            {
                Logs.RemoveAt(0);
            }
            StateHasChanged();
            await ScrollToBottom();
        });
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Module = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./_content/Sidekick.Modules.General/Logging/LogStream.razor.js");
            await ScrollToBottom();
        }
    }

    private async Task ScrollToBottom()
    {
        if (Module != null)
        {
            await Module.InvokeVoidAsync("scrollToBottom", LogContainer);
        }
    }

    public async ValueTask DisposeAsync()
    {
        LogSink.Instance.LogEventEmitted -= OnLogEventEmitted;

        if (Module != null)
        {
            await Module.DisposeAsync();
        }
    }
}