<ul class="flex flex-wrap items-center gap-1 text-sm font-medium text-center border-b border-stone-700 text-gray-400 mb-2 @Class">
    @ChildContent
    <li class="ml-auto flex flex-wrap items-center gap-1">
        @RightContent
    </li>
</ul>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public RenderFragment? RightContent { get; set; }

    [Parameter]
    public string? Class { get; set; }

}