name: Tests

on:
  pull_request:
    branches:
    - main
  workflow_dispatch:

jobs:
  tests:
    runs-on: windows-latest
    steps:
    - name: Git - Checkout
      uses: actions/checkout@v2

    - name: .NET - Setup
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 8.x

    - name: Test
      shell: pwsh
      run: |
        dotnet restore
        dotnet build --no-restore
        dotnet test --no-build --verbosity normal
