@using Sidekick.Modules.Updater.Localization

<LayoutSimple>
    <TopContent>
        <AppLogo/>
    </TopContent>

    <ChildContent>
        <AppContainer>
            <Heading3 Class="mb-2 text-center">@Resources["Checking_For_Updates"]</Heading3>
            <ProgressBar Indeterminate="true"/>
        </AppContainer>
    </ChildContent>

    <BottomContent>
        <div class="px-3 py-2 flex justify-center gap-2">
            <ExitButton/>
            <OpenWebsiteButton/>
            <SkipButton/>
        </div>
    </BottomContent>
</LayoutSimple>

<ViewOptions Width="@ICurrentView.DialogWidth"
             Height="@ICurrentView.DialogHeight"/>

@inject IStringLocalizer<UpdateResources> Resources
