@using Sidekick.Modules.Updater.Localization

<LayoutSimple>
    <ChildContent>
        <AppContainer>
            <Heading3 Class="text-center">@Resources["No_Updates"]</Heading3>
        </AppContainer>
    </ChildContent>

    <BottomContent>
        <div class="px-3 py-2 flex justify-center gap-2">
            <ExitButton/>
            <OpenWebsiteButton/>
        </div>
    </BottomContent>
</LayoutSimple>

@inject IStringLocalizer<UpdateResources> Resources
