@using Sidekick.Common.Exceptions

<LayoutSimple>
    <ChildContent>
        <AppContainer>
            <AlertException Exception="Exception"/>
        </AppContainer>
    </ChildContent>

    <BottomContent>
        <div class="px-3 py-2 flex justify-center gap-2">
            <ExitButton/>
            <OpenWebsiteButton/>
            <SkipButton/>
        </div>
    </BottomContent>
</LayoutSimple>

@code {

    [Parameter]
    public required SidekickException Exception { get; set; }

}
