@using Sidekick.Modules.Updater.Localization

<LayoutSplash>
    <TopContent>
        <AppLogo/>
    </TopContent>

    <ChildContent>
        <AppContainer>
            <Heading3 Class="mb-2 text-center">@Resources["Updating"]</Heading3>
            <ProgressBar Indeterminate="true"/>
        </AppContainer>
    </ChildContent>

    <BottomContent>
        <div class="px-3 py-2 flex justify-center gap-2">
            <ExitButton/>
        </div>
    </BottomContent>
</LayoutSplash>

@inject IStringLocalizer<UpdateResources> Resources
