@using MudBlazor

<MudTooltip Placement="Placement.Right" Class="!bg-transparent !p-0">
    <ChildContent>
        @ChildContent
    </ChildContent>
    <TooltipContent>
        <div class="bg-stone-950 p-2 max-w-[15rem] rounded-lg border border-solid border-stone-800">
            @TooltipContent
        </div>
    </TooltipContent>
</MudTooltip>


@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public RenderFragment? TooltipContent { get; set; }

}
