@using MudBlazor

<MudTooltip Placement="Placement.Left">
    <ChildContent>
        @ChildContent
    </ChildContent>
    <TooltipContent>
        <div class="-mx-2 -my-1 bg-black py-[2px] px-1 text-white max-w-[15rem] rounded-sm">
            @TooltipContent
        </div>
    </TooltipContent>
</MudTooltip>


@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public RenderFragment? TooltipContent { get; set; }

}
