<TooltipRight>
    <ChildContent>
        <div class="text-teal-500">
            <IconMedium Icon="@UiIcons.Help"></IconMedium>
        </div>
    </ChildContent>

    <TooltipContent>
        <TextBase Class="max-w-[15rem]">@Text</TextBase>
    </TooltipContent>
</TooltipRight>

@code {

    [Parameter]
    public required string Text { get; set; }

    [Parameter]
    public bool Bottom { get; set; }

}
