
<div class="relative group/tooltip leading-none">
    @ChildContent

    <div class="opacity-0 group-hover/tooltip:opacity-100 absolute bottom-[calc(100%+2px)] duration-200 pointer-events-none right-0 w-max transition-opacity bg-black rounded-lg text-white p-1 max-w-[15rem]">
        @TooltipContent
    </div>
</div>


@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public RenderFragment? TooltipContent { get; set; }

}
