<TooltipRight>
    <ChildContent>
        <div class="text-violet-500 flex self-center cursor-help">
            <Icon Svg="@UiIcons.Help" />
        </div>
    </ChildContent>

    <TooltipContent>
        <TextBase Class="max-w-60">@Text</TextBase>
    </TooltipContent>
</TooltipRight>

@code {

    [Parameter]
    public required string Text { get; set; }

}
